<link rel="stylesheet" href="tradermanage/tradermanage.css" />
<title>交易员管理</title>
<div>
	<ol class="breadcrumb">
		<li><a>账户管理</a></li>
		<li class="active">交易员管理</li>
	</ol>
</div>
<br>
<div class="row" ng-controller="TraderManage">
	<!-- start -->
	<form class="form-horizontal">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group" style="margin-left: -50px">
					<label class="col-sm-4 control-label">交易员代码</label>
					<div class="col-sm-4">
						<select ng-model="tradeUser" id="tradeUser"
								name="tradeUser" ng-options="tradeUser.userID as tradeUser.userID+'_'+tradeUser.userName for tradeUser in tradeUsers">
							<option value="">全部</option>
						</select>
					</div>
				</div>
			</div>

			<div class="" >
				<div class="form-group" id="search">
					<button class="btn btn-success" id="bootbox-options1"
							ng-click="find(tradeUser)" >查询</button>
				</div>
			</div>
		</div>
	</form>

	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="" style="float: left; margin-right: 40px;">
					<div class="form-group">
						<button class="btn btn-success" data-toggle="modal"  data-target="#traderManageMyModalInsert" ng-click="insert()" >新增</button>
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-right tableTools-container"></div>
				</div>
				<div>
					<table id="dynamic-table"
						   class="table table-striped table-bordered table-hover"
						   datatable="ng">
						<thead>
						<tr>
							<td class="center" hidden="hidden"></td>
							<th class="center">交易员代码</th>
							<th class="center">交易员名称</th>
							<th class="center">管理账户</th>
							<th class="center">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="listEntity in listEntitys">
							<td class="center" hidden="hidden">{{($index+1)}}</td>
							<td class="center" ng-bind="listEntity.userID"></td>
							<td class="center" ng-bind="listEntity.userName"></td>
							<td class="center">
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="blue" ng-click="querySub(listEntity)" style="cursor:pointer"
									   data-toggle="modal" data-target="#traderManageMyModalEdit">[编辑]</a>
									<a class="blue" ng-click="query(listEntity)" style="cursor:pointer"
									   data-toggle="modal" data-target="#traderManageMyModalTextarea">[查询]</a>
								</div>
							</td>
							<td class="center">
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="blue" ng-click="edit(listEntity)" style="cursor:pointer"
									   data-toggle="modal" data-target="#traderManageMyModalUpdate">[修改]</a>
									<a  ng-if="listEntity.isActive==1" class="blue" ng-click="cancel(listEntity)"
										style="cursor:pointer">[注销]</a>
									<a  ng-if="listEntity.isActive==0" class="blue" ng-click="cancelRestore(listEntity)"
									   	style="cursor:pointer">[启用]</a>
									<!-- <a  ng-if="listEntity.isActive==1" class="red" ng-click="cancel(listEntity)"
									   title="注销"><i class="ace-icon fa fa-pencil bigger-130"></i></a>
									<a  ng-if="listEntity.isActive==0" class="blue" ng-click="cancelRestore(listEntity)"
									   title="注销恢复"><i class="ace-icon fa fa-unlock-alt bigger-130"></i></a> -->
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- PAGE CONTENT ENDS -->
	</div>

	<!--textarea-->
	<div class="modal fade" id="traderManageMyModalTextarea" tabindex="-1" role="dialog" ng-show="myModalTextareaShow"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">交易员管理账户查询</h4>
				</div>
				<div class="modal-body">
					<h3>基本信息</h3>
					<!-- 添加表单内容-->
					<form class="form-horizontal" role="form" name="myForm" novalidate>
					<!-- start 查询的textarea框 -->
					<div class="row">
						<div class="col-sm-10">
							<div class="form-group">
								<textarea rows="10px" cols="80px" disabled="disabled"
									ng-model="message"></textarea>
							</div>
						</div>
					</div>
					<!-- end 查询的textarea框 -->
						<div class="modal-footer">
							<span class="btn btn-info btn-sm popover-info" data-rel="popover"
								data-placement="bottom" title="" data-dismiss="modal">&nbsp;关闭&nbsp;</span>
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>

			</div>
		</div>
	</div>


	<!--新增-->
	<div class="modal fade" id="traderManageMyModalInsert" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true"
		 data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					<h4 class="modal-title" >交易员管理</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" role="form" name="myForm" novalidate>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">基本信息</h3>
							</div>
								<div class="panel-body">
									<div class="form-group">
										<label  class="col-sm-3 control-label">交易员代码<span style="color: red;">*</span></label>
										<div class="col-sm-5">
											<input type="text" class="form-control"  placeholder="请输入交易员代码" id="userID"
												   name="userID" ng-model="ModalEntity.userID" required maxlength="15" ng-disabled="forceRisk.disabled" onkeydown="myKeyup(event,this)" tab="1" />
											<span ng-show="myForm.userID.$dirty && myForm.userID.$invalid" style="color: red;"></span>
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-3 control-label">交易员名称<span style="color: red;">*</span></label>
										<div class="col-sm-5">
											<input type="text" class="form-control"  placeholder="请输入交易员名称" id="userName"
												   name="userName" ng-model="ModalEntity.userName" required maxlength="20" ng-disabled="forceRisk.disabled" onkeydown="myKeyup(event,this)" tab="2" />
											<span ng-show="myForm.userName.$dirty && myForm.userName.$invalid" style="color: red;"></span>
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-3 control-label">操作员类型<span style="color: red;">*</span></label>
										<div class="col-sm-5">
											<select name="userType"  ng-model="ModalEntity.userType" disabled="disabled" ng-options="t.key as t.text for t in tradeUserTypes"  >
											</select>
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-3 control-label">备注</label>
										<div class="col-sm-5">
											<textarea rows="2px" cols="24px" ng-model="ModalEntity.remark" onkeydown="myKeyup(event,this)" tab="3" ></textarea>
										</div>
									</div>
								</div>
							</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">密码信息</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label  class="col-sm-3 control-label"><span style="color: red;">*</span>密码</label>
									<div class="col-sm-5">
										<input type="password" class="form-control"  placeholder="请输入密码" id="password"
												onkeyup="kEvent(event,this)" ng-change="isBlank(ModalEntity.password)"
												required
											   name="password" ng-model="ModalEntity.password" required maxlength="20" ng-disabled="forceRisk.disabled" onkeydown="myKeyup(event,this)" tab="4" />
										<span ng-show="myForm.password.$dirty && myForm.password.$invalid" style="color: red;"></span>
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label"><span style="color: red;">*</span>确认密码</label>
									<div class="col-sm-5">
										<input type="password" class="form-control"  placeholder="请输入确认密码" id="pwd"
												onkeyup="kEvent(event,this)" ng-change="isBlank(ModalEntity.pwd)"
												required
											   name="pwd" ng-model="ModalEntity.pwd" required maxlength="20" ng-disabled="forceRisk.disabled" onkeydown="myKeyup(event,this)" tab="5" />
										<span ng-show="myForm.pwd.$dirty && myForm.pwd.$invalid" style="color: red;"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
						<span class="btn btn-info btn-sm popover-info" data-rel="popover"
							  data-placement="bottom" title=""
							  ng-disabled="myForm.userID.$invalid || myForm.userName.$invalid || myForm.password.$invalid || myForm.pwd.$invalid || pwdBlank"
							  ng-click="save(ModalEntity)">&nbsp;确定&nbsp;</span>
						<span class="btn btn-info btn-sm popover-info" data-rel="popover"
							  data-placement="bottom" title="" data-dismiss="modal">&nbsp;关闭&nbsp;</span>
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>

			</div>
		</div>
	</div>

	<!--修改-->
	<div class="modal fade" id="traderManageMyModalUpdate" tabindex="-1" role="dialog" ng-show = "myModalUpdateShow"
		 aria-labelledby="myModalLabel" aria-hidden="true"
		 data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					<h4 class="modal-title" >交易员管理</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" role="form" name="myForm" novalidate>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">基本信息</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label  class="col-sm-3 control-label">交易员代码<span style="color: red;">*</span></label>
									<div class="col-sm-5">
										<input type="text" class="form-control"  placeholder="请输入交易员代码"
											   name="forceRisk" ng-model="ModalEntity.userID" required maxlength="10" ng-disabled="forceRisk.disabled" readonly="readonly" onkeydown="myKeyup(event,this)" tab="6" />
										<span ng-show="myForm.userID.$dirty && myForm.userID.$invalid" style="color: red;"></span>
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">交易员名称<span style="color: red;">*</span></label>
									<div class="col-sm-5">
										<input type="text" class="form-control"  placeholder="请输入交易员名称"
											   name="forceRisk" ng-model="ModalEntity.userName" required maxlength="20" ng-disabled="forceRisk.disabled" onkeydown="myKeyup(event,this)" tab="7" />
										<span ng-show="myForm.userName.$dirty && myForm.userName.$invalid" style="color: red;"></span>
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">操作员类型<span style="color: red;">*</span></label>
									<div class="col-sm-5">
										<select name="userType"  ng-model="ModalEntity.userType" disabled="disabled" ng-options="t.key as t.text for t in tradeUserTypes"  >
										</select>
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">备注</label>
									<div class="col-sm-5">
										<textarea rows="2px" cols="24px" ng-model="ModalEntity.remark" onkeydown="myKeyup(event,this)" tab="8" ></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-5">
										<input  type="hidden"  ng-model="ModalEntity.id" />
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
						<span class="btn btn-info btn-sm popover-info" data-rel="popover"
							  data-placement="bottom" title=""
							  ng-click="update(ModalEntity)">&nbsp;确定&nbsp;</span>
						<span class="btn btn-info btn-sm popover-info" data-rel="popover"
							  data-placement="bottom" title="" data-dismiss="modal">&nbsp;关闭&nbsp;</span>
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>

			</div>
		</div>
	</div>

	<!--end 修改-->
	<!--编辑-->
	<div class="modal fade" id="traderManageMyModalEdit" tabindex="-1" role="dialog" ng-show = "myModalEditShow"
		 aria-labelledby="myModalLabel" aria-hidden="true"
		 data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
		
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					<h4 class="modal-title" >交易员对应账户设置</h4>
				</div>
				<form class="form-horizontal" role="form" name="myForm" novalidate>
				<div class="form-group" style="margin-left: -55px">
					<label class="col-sm-3 control-label">交易员代码</label>
					<div class="col-sm-4">
						<select ng-model="userID"
								name="userID" ng-options="t.userID as t.userID+'_'+t.userName for t in tmpUsers" disabled="disabled">
							<option>全部</option>
						</select>
					</div>
				</div>
				<div class="modal-body">
				<div class="modalbodydiv">
				<!-- left -->
				<div class="overflatLeftTitleDiv">
                        <table >
                            <thead>
                            <tr>
                                <th>账号</th>
                                <th>名称</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
					<div class="overflatLeftDiv">
						<table >
							
							<tbody>
							<tr class="hoverTr" ng-repeat="listEntity in subEntitys" ng-class="{traderColoerTr:$index%2 == 0}">
								<!-- <td>
									<input type="checkbox" ng-model="flag" ng-checked="listEntity.isChecked == 0" ng-click="add(flag,listEntity)" />
								</td> -->
								<td ng-class="{selectActive:listEntity.isSelectActive == true}" ng-bind="listEntity.subAccountID"  ng-dblclick="add($index,listEntity)"  ng-click="addSelect($index,listEntity)"></td>
								<td ng-class="{selectActive:listEntity.isSelectActive == true}" ng-bind="listEntity.subAccountName " ng-dblclick="add($index,listEntity)" ng-click="addSelect($index,listEntity)" ></td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- Midd -->
					<div  class="overflatMidDiv">
						 <button type="button" ng-click="addSelectEntity(subEntitys)" >&nbsp;>&nbsp; </button>
					    <br>
					    &nbsp;
					    <br>
						<button type="button" ng-click="addAllEntity(subEntitys)" > >> </button>
						<br>&nbsp;<br>&nbsp;<br>
						<button type="button" ng-click="deleteAllEntity(arrayMaps)" >  &lt;&lt;  </button>
						<br>
						&nbsp;
						<br>
						<button type="button" ng-click="deleteSelectEntity(arrayMaps)" > &nbsp;&lt;&nbsp; </button>
					</div>
					<!-- right  -->
					 <div class="overflatRightTitleDiv">
                        <table >
                            <thead>
                            <tr>
                                <th>账号</th>
                                <th>名称</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
					   <div  class="overflatRightDiv">
                        <table>
                            <tbody>
                            <tr  class="hoverTr"  ng-repeat="listEntity in arrayMaps" ng-class="{traderColoerTr:$index%2 == 0}">
                             
                                <td ng-class="{selectActive:listEntity.isSelectActive == true}" ng-bind="listEntity.subAccountID" ng-dblclick="deved($index,listEntity)"  ng-click="devedSelect($index,listEntity)" ></td>
                                <td ng-class="{selectActive:listEntity.isSelectActive == true}" ng-bind="listEntity.subAccountName" ng-dblclick="deved($index,listEntity)"  ng-click="devedSelect($index,listEntity)" ></td> 
                            </tr>
                            </tbody>
                        </table>
                    </div>
					
						<div class="modal-footerdiv">
						<span class="btn btn-info btn-sm popover-info" data-rel="popover"
							  data-placement="bottom" title=""
							  ng-click="saveUserTrade(userID)">&nbsp;确定&nbsp;</span>
						<span class="btn btn-info btn-sm popover-info" data-rel="popover"
							  data-placement="bottom" title="" data-dismiss="modal">&nbsp;关闭&nbsp;</span>
						</div>
					</div>
					<!--End  添加表单内容-->
				</div>
			</form>
			</div>
		</div>
	</div>
</div>