<div class="row" ng-controller="SubAccountTemplateController">
	<!-- start 定义表单查询-->
	<form class="form-12">
		 <div class="form-row">
			<div class="row-col-one" >
					<label class="word-style">{{typeName}}</label>
						<select ng-model="queryEntity.subAccountID" class="value-style">
							<option value="">全部</option>
							<option ng-repeat="subCapital in SubCapitalEntitys"
								value="{{subCapital.subAccountID}}">
								{{subCapital.subAccountID}}_{{subCapital.subAccountName}}</option>
						</select>
				</div>
				<div class="row-col-one">
					<label class="word-style">保证金模板</label>
					<select ng-model="queryEntity.marginTemplateID" class="value-style">
						<option value="">全部</option>
						<option ng-repeat="MarginTemplate in MarginTemplateEntitys"
							value="{{MarginTemplate.templateID}}">
							{{MarginTemplate.templateID}}_{{MarginTemplate.templateName}}</option>
					</select>
			</div>
			<div class="row-col-one">
				    <label class="word-style">手续费模板</label>
					<select ng-model="queryEntity.feeTemplateID" class="select-style">
						<option value="">全部</option>
						<option ng-repeat="FeeTemplate in FeeTemplateEntitys"
							value="{{FeeTemplate.templateID}}">
							{{FeeTemplate.templateID}}_{{FeeTemplate.templateName}}</option>
					</select>
			</div>
		</div>
		<div class="btn-beyond-one-row">
      	      		<button type="button" class="btn btn-query btn-word-two" ng-show="subAccountTemplate_query"  ng-click="initPage(queryEntity)"  ng-disabled="isQuery"> 查询</button>
         </div>
         <div class="row-form row-btn-operation">
		          	<div class="row-btn-icon">
		               <span class="btn-add-icon"></span>
		               <input type="button"  data-target="#subAccountTemplateModal" ng-show="subAccountTemplate_add"  ng-click="initParameter()"  class="btn btn-add btn-icon-two" value="新增" data-toggle='modal' >
		            </div>
		 </div>  
	</form>
	<!--End 表单查询 -->
	
	<!--PAGE CONTENT START-->
	<div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div>
                    <table id="SubAccountTemplate_dynamic_table"   class="cell-border stripe" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--PAGE CONTENT END-->	

	<!-- 新增 修改 模态框（Modal） -->
	<div class="modal fade" id="subAccountTemplateModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">对应费率模板信息维护</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" role="form" name="myForm" novalidate>
						<div class="form-group">

							<label class="col-sm-4 control-label">{{typeName}}<span
								style="color: red;">*</span></label>
							<div class="col-sm-7">
								<select ng-model="ModalEntity.subAccountID" class="form-control add-select" id="subAccountID" ng-disabled="isUpdate">
								<option ng-repeat="subCapital in SubCapitalEntitys"
									value="{{subCapital.subAccountID}}">
									{{subCapital.subAccountID}}_{{subCapital.subAccountName}}</option>
							</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">对应保证金模板</label>
							<div class="col-sm-7">
								<select ng-model="ModalEntity.marginTemplateID" class="form-control  add-select">
									<option value=""></option>
									<option ng-repeat="MarginTemplate in MarginTemplateEntitys"
										value="{{MarginTemplate.templateID}}">
										{{MarginTemplate.templateID}}_{{MarginTemplate.templateName}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">对应手续费模板</label>
							<div class="col-sm-7">
								<select ng-model="ModalEntity.feeTemplateID" class="form-control  add-select">
									<option value=""></option>
									<option ng-repeat="FeeTemplate in FeeTemplateEntitys"
										value="{{FeeTemplate.templateID}}">
										{{FeeTemplate.templateID}}_{{FeeTemplate.templateName}}</option>
								</select>
							</div>
						</div>
						<div>
							<input type="hidden" ng-bind="ModalEntity.recordIndex">
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>
				<div class="modal-footer">
					<span class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" ng-click="myForm.accountGroupID.$invalid || myForm.accountGroupName.$invalid||save(ModalEntity)"
						ng-disabled="myForm.accountGroupID.$invalid || myForm.accountGroupName.$invalid">&nbsp;确定&nbsp;</span>
					<span class="btn btn-close btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
</div>