<link rel="stylesheet" href="marginset/subInstrumentMarginSet.css" />

<div class="row" ng-controller="SubInstrumentMarginSetController">
	<!-- start 定义表单查询-->
	<form class="form-12">
		<div class="form-row">
				<div class="alert alert-success" ng-show="resultInfo">合约保证金保存成功!</div>
		</div>
		 <div class="form-row">
			<div class="row-col-one">
					    <label class="word-style">{{typeName}}</label>
						<select ng-model="queryEntity.subAccountID" class="value-style">
							<option value="">全部</option>
							<option ng-repeat="subCapital in SubCapitalEntitys"
								value="{{subCapital.subAccountID}}">
								{{subCapital.subAccountID}}_{{subCapital.subAccountName}}</option>
						</select>
			  </div>
			  <div class="row-col-one">
					    <label class="word-style">品种代码</label>
						<select ng-model="queryEntity.productID" class="value-style"
							ng-change="productSelect(queryEntity)">
							<option value="">全部</option>
							<option ng-repeat="product in productDatas"
								value="{{product.productID}}">
								{{product.productID}}_{{product.productName}}</option>
						</select>
			</div>
			<div class="row-col-one">
					<label class="word-style">合约代码</label>
					<select ng-model="queryEntity.instrumentID" class="value-style">
							<option value="">全部</option>
							<option ng-repeat="Instrument in Instruments"
								value="{{Instrument.instrumentID}}">
								{{Instrument.instrumentID}}_{{Instrument.instrumentName}}</option>
					</select>
			</div>
		</div>
		<div class="btn-beyond-one-row">
      	      		<button type="button" class="btn btn-query btn-word-two" ng-show="subInstrumentMarginSet_query"  ng-click="find()"  ng-disabled="isQuery"> 查询</button>
      	      		<button type="button" class="btn btn-reset btn-beyond-two" ng-show="subInstrumentMarginSet_outexcel" ng-click="exportExcel(queryEntity)" > 导出excel</button>
    	</div>
    	<div class="row-form row-btn-operation">
		          	<div class="row-btn-icon">
		               <span class="btn-add-icon"></span>
		               <input type="button"  data-target="#subInstrumentMarginSetModal" ng-show="subInstrumentMarginSet_add"  ng-click="initParameter()"  class="btn btn-add btn-icon-two" value="新增" data-toggle='modal' >
		            </div>
		            <input type="button"  ng-click="removeLists()" ng-show="subInstrumentMarginSet_batchdelete" class="btn btn-reset btn-beyond-two" value="批量删除" >
		            <input type="button"  ng-click="copyInitParameter()" ng-show="subInstrumentMarginSet_copy"  class="btn btn-reset btn-word-two" value="复制" data-toggle='modal' >
		            <input type="button"  data-target="#subInstrumentMarginSetUploadModal" ng-show="subInstrumentMarginSet_in"  class="btn btn-reset btn-word-two" value="导入" data-toggle='modal' >
		     </div>
	</form>
	<!--End 表单查询 -->

		<!--PAGE CONTENT START-->
	<div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div>
                    <table id="SubInstrumentMarginFxSet_dynamic_table" ng-show = "isFx"   class="cell-border stripe" cellspacing="0" width="100%">
                    </table>
                    <table id="SubInstrumentMarginZjSet_dynamic_table" ng-show = "!isFx"   class="cell-border stripe" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--PAGE CONTENT END-->	
	

	<!-- 新增 修改 模态框（Modal） -->
	<div class="modal fade" id="subInstrumentMarginSetModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content"  style="width:650px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{typeName}}合约保证金率维护	</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" name="myForm" novalidate>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">基本设置</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">{{typeName}}</label>
											<div class="col-sm-7">
												<select ng-model="ModalEntity.subAccountID"  onkeydown="myKeyup(event,this)" tab="1"
													class="form-control two-columns-modal-input" 
													ng-disabled="isUpdate">
													<option ng-repeat="subCapital in SubCapitalEntitys"
														value="{{subCapital.subAccountID}}">
														{{subCapital.subAccountID}}_{{subCapital.subAccountName}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">交易所代码</label>
											<div class="col-sm-7">
												<select ng-model="ModalEntity.exchID"  onkeydown="myKeyup(event,this)" tab="2"
													ng-options="op.exchID as op.exchID+'_'+op.exchName for op in exchangeDatas"
													name="exchID" required
													class="form-control two-columns-modal-input" 
													ng-change="selectExchange(ModalEntity.exchID)"
													ng-disabled="isUpdate"></select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">品种代码</label>
											<div class="col-sm-7">
												<select ng-model="ModalEntity.productID"
												    class="form-control two-columns-modal-input" 
													ng-disabled="isUpdate"  onkeydown="myKeyup(event,this)" tab="3"
													ng-options="op.productID as op.productID+'_'+op.productName for op in products"
													ng-disabled="isUpdate" name="productID" required
													ng-click="productSelect(ModalEntity)"></select>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">合约代码</label>
											<div class="col-sm-7">
												<select ng-model="ModalEntity.instrumentID" name="instrumentID" required
												    class="form-control two-columns-modal-input" 
													ng-disabled="isUpdate"  onkeydown="myKeyup(event,this)" tab="4"
													ng-options="op.instrumentID as op.instrumentID+'_'+op.instrumentName for op in Instruments"
													></select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
								 <div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label ">投保标志</label>
											<div class="col-sm-7">
												<select ng-model="ModalEntity.tradeType"  onkeydown="myKeyup(event,this)" tab="4"
													class="form-control two-columns-modal-input" 
													ng-options="op.key as op.text for op in tradeTypes"
													ng-disabled="isUpdate" class="select-style">
													 
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">保证金率设置</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">多头按金额<span
												style="color: red;">*</span></label>

											<div class="col-sm-7">
												<div style="white-space: nowrap;">
													<input type="text" class="form-control two-columns-modal-input" id="longMarginRate"
														placeholder="请输入多头按金额" ng-model="ModalEntity.longMarginRate"
														ng-pattern="/^\d{1,3}(\.\d{0,6})?$/"  onkeydown="myKeyup(event,this)" tab="5"
														name="longMarginRate" maxlength="10" required> 
												</div>
												<span ng-show="myForm.longMarginRate.$dirty && myForm.longMarginRate.$invalid"
													onkeydown="myKeyup(event,this)" style="color: red;">多头按金额为必填项，且最多录入3位整数6位小数，例：98.123456</span>
											</div>
											<label for="setValue"  class="col-sm-1 control-label behind-input">%</label>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">多头按手数<span
												style="color: red;">*</span></label>

											<div class="col-sm-7">
												<input type="text" class="form-control two-columns-modal-input" id="longMarginAmt"
													onkeydown="myKeyup(event,this)" placeholder="请输入多头按手数"
													ng-model="ModalEntity.longMarginAmt" onkeydown="myKeyup(event,this)" tab="6"
													ng-pattern="/^\d{1,8}(\.\d{0,2})?$/" name="longMarginAmt"
													maxlength="11" required> <span
													ng-show="myForm.longMarginAmt.$dirty && myForm.longMarginAmt.$invalid"
													style="color: red;">多头按手数为必填项，且最多录入8位整数2位小数，例：98.12</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">空头按金额<span
												style="color: red;">*</span></label>

											<div class="col-sm-7">
												<div style="white-space: nowrap;">
													<input type="text" class="form-control two-columns-modal-input" id="shortMarginRate"
														onkeydown="myKeyup(event,this)" placeholder="请输入空头按金额"
														ng-model="ModalEntity.shortMarginRate" onkeydown="myKeyup(event,this)" tab="7"
														ng-pattern="/^\d{1,3}(\.\d{0,6})?$/"
														name="shortMarginRate" maxlength="10" required>
												</div> 
												<span ng-show="myForm.shortMarginRate.$dirty && myForm.shortMarginRate.$invalid"
													style="color: red;">空头按金额为必填项，且最多录入3位整数6位小数，例：98.123456</span>
											</div>
											<label for="setValue"  class="col-sm-1 control-label behind-input">%</label>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-sm-4 control-label">空头按手数<span
												style="color: red;">*</span></label>

											<div class="col-sm-7">
												<input type="text" class="form-control two-columns-modal-input" id="shortMarginAmt"
													onkeydown="myKeyup(event,this)" placeholder="请输入空头按手数"
													ng-model="ModalEntity.shortMarginAmt" onkeydown="myKeyup(event,this)" tab="8"
													ng-pattern="/^\d{1,8}(\.\d{0,2})?$/"
													name="shortMarginAmt" maxlength="11" required> <span
													ng-show="myForm.shortMarginAmt.$dirty && myForm.shortMarginAmt.$invalid"
													style="color: red;">空头按手数为必填项，且最多录入8位整数2位小数，例：98.12</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<input type="hidden" ng-bind="ModalEntity.recordIndex">
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>
				<div class="modal-footer">
					<span class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" 
						ng-click="canClick ||myForm.exchID.$invalid || myForm.productID.$invalid || myForm.instrumentID.$invalid || 
						myForm.longMarginRate.$invalid || myForm.longMarginAmt.$invalid || 
						myForm.shortMarginRate.$invalid || myForm.shortMarginAmt.$invalid || save(ModalEntity)"
						ng-disabled=" canClick ||myForm.exchID.$invalid || myForm.productID.$invalid || myForm.instrumentID.$invalid || 
						myForm.longMarginRate.$invalid || myForm.longMarginAmt.$invalid || 
						myForm.shortMarginRate.$invalid || myForm.shortMarginAmt.$invalid">&nbsp;确定&nbsp;</span>
					<span class="btn btn-close btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->

	<div class="modal fade" id="subInstrumentMarginSetCopyModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-width">
			<div class="modal-content modal-width" style="width: 500px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">设置{{typeName}}合约保证金率</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" role="form"  name="myForms" novalidate>
								<div class="row form-group">
									<label class="col-sm-4 control-label">源{{typeName}}</label>
									<div class="col-sm-7">
										<select ng-model="yuanEntity.subAccountID" class="add-select"
											ng-options="op.subAccountID as op.subAccountID+'_'+transFundSubCapital(op.subAccountID) for op in subAccounts">
											<!-- <option ng-repeat="yuanEntity in subAccounts"
												value="{{yuanEntity.subAccountID}}">
												{{yuanEntity.subAccountID}}_{{transFundSubCapital(yuanEntity.subAccountID)}}</option> -->
										</select>
									</div>
								</div>
								<div class="row form-group">
									<label style="margin-left:180px;margin-bottom:0px">复制设置到</label>
									<br>
								</div>
								<div class="row form-group">
									<label class="col-sm-4 control-label"">目的{{typeName}}</label>
									<div class="col-sm-7">
										<select ng-model="mudiEntity.subAccountID"
											class="add-select">
											<option ng-repeat="mudiEntity in SubCapitalEntitys"
												value="{{mudiEntity.subAccountID}}">
												{{mudiEntity.subAccountID}}_{{transFundSubCapital(mudiEntity.subAccountID)}}</option>
										</select>
									</div>
								</div>
							
							<div>
								<input type="hidden" ng-bind="ModalEntity.recordIndex">
							</div>
					</form>
				</div>
				<div class="modal-footer">
				<span class="btn btn-info btn-sm popover-info" data-rel="popover"
					data-placement="bottom" title=""
					ng-click="copy(yuanEntity,mudiEntity)">&nbsp;确定&nbsp;&nbsp;</span> <span
					class="btn btn-close btn-sm popover-info" data-rel="popover"
					data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</span>

					<!--End  添加表单内容-->
				</div>
			</div>
		</div>
	</div>
	
	<!-- 导入 -->
    <div class="modal fade" id="subInstrumentMarginSetUploadModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog">
	        <div class="modal-content"  style="height:100px;">
	            <div class="modal-header">
	                <button type="button" class="close"
	                        data-dismiss="modal" aria-hidden="true">
	                    &times;
	                </button>
	                <h4 class="modal-title" id="uploadtxt">
	                    导入
	                </h4>
	            </div>
	            <div class="modal-body">
	                <!-- 添加表单内容-->
	                <form class="form-horizontal" role="form" name="uploadForm" novalidate>
	                    <div class="form-group upload_wedge">
	                        <div id="subInstrumentMarginSetUploader">upload</div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	
</div>