<link rel="stylesheet" href="tradeparam/fSGetPrice.css"/>
<title>期现价格获取</title>
<div>
    <ol class="breadcrumb">
        <li><a>结算数据准备</a></li>
        <li class="active">期现价格获取</li>
    </ol>
</div>
<br>
<div class="row" ng-controller="FSGetPriceController">
<!-- start 定义表单查询-->
	<form class="form-12">
	    <div class="form-row">
	    	
	        <div class="row-col-one" >
	        	<label class="word-style">期货价格获取时间点</label>
	            <input type="text" class="value-style"ng-model="queryTimeEntity.hour" ng-readonly="true" name="hour" value=""  />
	        </div>
	        <div class="row-col-one" >
	        	<label class="word-style">时</label>
	            <input type="text" class="value-style"ng-model="queryTimeEntity.minute" ng-readonly="true" name="minute" value=""  />
	            
	        </div>
	        <div class="row-col-one" >
	        	<label class="word-style">分</label>
	            <input type="text" class="value-style"ng-model="queryTimeEntity.second" ng-readonly="true" name="second" value=""  />
	        </div>
	        <div class="row-col-one" >
	    		<label class="word-style">秒</label>
	    	</div>
	    </div>
	    <div class="btn-beyond-one-row" ng-show = "fSGetPrice_set">
	      	 <button type="button" class="btn btn-query btn-word-two"  ng-click="initSetTimeParameter()" 
	      	 data-target="#fSGetPriceSetTimeModal"  data-toggle="modal">设置</button>
	    </div>
	    		
	</form>
	<!-- start 定义表单查询-->
	<form class="form-12">
	    <div class="row">
	        <div class=col-xs-12>
	            <div class="alert alert-success" ng-show="resultInfo">结算价保存成功!</div>
	        </div>
	    </div>
	    <div class="form-row">
	        <div class="row-col-one" >
	                <label class="word-style">结算日期</label>
	
	                    <input type="text" id="settleDate" onchange="" class="Wdate value-style word-style" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyyMMdd'})"
	                    ng-model="queryEntity.settleDate" ng-readonly="true"
	                           name="settleDate" value=""  />
	        </div>
	        <div class="row-col-one">
	                <label class="word-style">交易所</label>
	                    <select ng-model="queryEntity.exchID" class="word-style"  ng-change="selectFindProduct(queryEntity.exchID)"
	                            ng-options="op.exchID as op.exchID+'_'+op.exchName for op in exchangeDatas">
	                            <option value="">全部</option>
	                            </select>
	        </div>
	        <div class="row-col-one">
	                <label class="word-style">品种代码</label>
	                    <select ng-model="queryEntity.productID" class="word-style"  ng-change="selectFindInstrument(queryEntity.exchID,queryEntity.productID)"
	                            ng-options="op.productID as op.productID+'_'+op.productName for op in products"><option value="">全部</option></select>
	        </div>
	        <div class="row-col-one">
	                <label class="word-style">合约代码</label>
	                    <select ng-model="queryEntity.instrumentID" class="word-style"
	                            ng-options="op.instrumentID as op.instrumentID+'_'+op.instrumentName for op in instruments"><option value="">全部</option></select>
	        </div>
	       <!--  <div class="col-xs-3">
	            <div class="form-group button-left-style">
	                <button class="btn btn-success" id="bootbox-options1" ng-click="find(queryEntity)" ng-disabled="isQuery"> 查询</button>
	            </div>
	        </div> -->
	    </div>
	    <div class="btn-beyond-one-row" ng-show = "fSGetPrice_query">
	      	 <button type="button" class="btn btn-query btn-word-two"  ng-click="find(queryEntity)" ng-disabled="isQuery"> 查询</button>
	    </div>
	    			
	 	<div class="row-form row-btn-operation">
	 		<div class="row-btn-icon" ng-show = "fSGetPrice_add">
	            <span class="btn-add-icon"></span>
				<button class="btn btn-add btn-icon-two"
					ng-click="initParameter()" data-toggle="modal"
					data-target="#fSGetPriceModal">新增</button>
			</div>
	     </div>
	</form>
	<!--End 表单查询 -->
	
	<!--PAGE CONTENT -->
	<div class="col-xs-12 clear-padding-right">
		<div class="row">
	    	<div class="col-xs-12 clear-padding-right">
	        	<div>
	            	<table id="fSGetPrice_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
	                </table>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- 新增 模态框（addModal） -->
	<div class="modal fade" id="fSGetPriceSetTimeModal" tabindex="-1" role="dialog"
	     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog modal-width">
	        <div class="modal-content modal-width" >
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
	                <h4 class="modal-title" id="myModalLabel">期货价格获取时间点</h4>
	            </div>
	        	
	            <div class="" style="overflow:auto;padding-top:30px;">
	                <!-- 添加表单内容-->
	                <div class="col-xs-5" style="border-left:1px solid #ccc;">
	                	<form class="form-horizontal" name="myAddTimeForm" novalidate>
					    	<div class="form-group">
		                        
		                        <div class="col-xs-6">
		                            <input type="text" class="form-control two-columns-modal-input" 
		                            ng-model="addTimeEntity.hour" name="hour" value=""  
					            	ng-pattern="/^[0-9]{2}$/" />
					            	<span ng-show="myAddTimeForm.hour.$dirty && myAddTimeForm.hour.$invalid"
		                                          style="color: red;">时为必填项,且为两位正整数</span>
		                        </div>
		                        <label class="col-xs-5 control-label label-style">时<span style="color: red;">*</span></label>
	                         </div>
	                         <div class="form-group">
		                        
		                        <div class="col-xs-6">
		                            <input type="text" class="form-control two-columns-modal-input" 
		                            ng-model="addTimeEntity.minute" name="minute" value=""  
					            	ng-pattern="/^[0-9]{2}$/" />
					            	<span ng-show="myAddTimeForm.minute.$dirty && myAddTimeForm.minute.$invalid"
		                                          style="color: red;">分为必填项,且为两位正整数</span>
		                        </div>
		                        <label class="col-xs-5 control-label label-style">分<span style="color: red;">*</span></label>
	                         </div>
	                         <div class="form-group">
		                        
		                        <div class="col-xs-6">
		                            <input type="text" class="form-control two-columns-modal-input" 
		                            ng-model="addTimeEntity.second" name="second" value=""  
					            	ng-pattern="/^[0-9]{2}$/" />
					            	<span ng-show="myAddTimeForm.second.$dirty && myAddTimeForm.second.$invalid"
		                                          style="color: red;">时为必填项,且为两位正整数</span>
		                        </div>
		                        <label class="col-xs-5 control-label label-style">秒<span style="color: red;">*</span></label>
	                         </div>
	                	</form>
	                </div>
	                <!--End  添加表单内容-->
	            </div>
	            <div class="modal-footer" style="overflow:hidden;">
	                    <button class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title=""
	                          ng-click="myAddTimeForm.hour.$invalid || myAddTimeForm.minute.$invalid || myAddTimeForm.second.$invalid ||
										saveTime(addTimeEntity)" tab="2" onkeydown="myKeyup(event,this)"
	                          ng-disabled="myAddTimeForm.hour.$invalid || myAddTimeForm.minute.$invalid || myAddTimeForm.second.$invalid">&nbsp;确定&nbsp;</button>
	                    <span class="btn btn-close btn-sm popover-info" data-rel="popover" data-placement="bottom" title=""
	                          data-dismiss="modal">&nbsp;取消&nbsp;</span>
	            </div>
	            
	        </div>
	    </div>
	</div>
	
	<!-- 新增 模态框（addModal） -->
	<div class="modal fade" id="fSGetPriceModal" tabindex="-1" role="dialog"
	     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog modal-width">
	        <div class="modal-content modal-width" ng-class="{selectActive:isShow == false}" >
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
	                <h4 class="modal-title" id="myModalLabel"> 期现价格维护</h4>
	            </div>
	            
	            <div class="page-header">           
			              <label class="word-style" style="line-height:42px;margin-left: 15px;">结算日期:</label>
			              <input type="text" id="settleDate" style="margin-top:5px;" onchange="" class="Wdate value-style word-style" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyyMMdd'})"
			              ng-model="ModalEntity.settleDate" name="settleDate" ng-disabled="!isShow" ng-readonly="true" required/>
			              <button class="btn btn-reset btn-icon-two" id="bootbox-options1" ng-click="getAddItems(ModalEntity.settleDate)" ng-show="isShow" style="padding-left:20px;" ng-disabled="isQuery">获取待结算数据</button>          	
	        	</div>
	        	
	            <div class="" style="overflow:auto;">
	            	<!-- 查询表格 -->
	           		<div class="col-xs-7" ng-show ="isShow">
						<div class="clearfix">
							<div class="pull-right tableTools-container"></div>
						</div>
						<div>
							<table id="queryAdd-table" style="width:100% !important;"
							class="cell-border stripe" datatable="ng" >
							<thead>
								<tr>
									<th class="center"><label class="pos-rel"> <span
											class="ace"></span> <span class="lbl"></span>
									</label></th>
									<th class="center">交易所代码</th>
									<th class="center">品种代码</th>
									<th class="center">合约代码</th>
								</tr>
							</thead>
	
							<tbody>
								<tr ng-repeat="queryAddEntity in queryAddEntitys" ng-click="selectedThis(queryAddEntity)" 
								ng-class="{trBgColor:queryAddEntity.flag == 1}" class="center" >
									<td ng-click="getqueryAddEntity(queryAddEntity)" class="center">{{($index+1)}}</td>
									<td ng-click="getqueryAddEntity(queryAddEntity)" ng-bind="queryAddEntity.exchID"></td>
									<td ng-click="getqueryAddEntity(queryAddEntity)" ng-bind="queryAddEntity.productID"></td>
									<td ng-click="getqueryAddEntity(queryAddEntity)" ng-bind="queryAddEntity.instrumentID"></td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>
	                <!-- 添加表单内容-->
	                <div class="col-xs-5" style="border-left:1px solid #ccc;">
	                	<form class="form-horizontal" name="myAddForm" novalidate>
	                        <div class="form-group">
	                            <label class="col-xs-5 control-label label-style">交易所代码<span style="color: red;">*</span></label>
	
	                            <div class="col-xs-5">
	                                <select ng-model="ModalEntity.exchID" 
	                                		required name="exchID" ng-disabled="!isShow"
	                                        ng-options="op.exchID as op.exchID+'_'+op.exchName for op in exchangeDatas" class=""></select>
	                            </div>
	                        </div>
	
	                        <div class="form-group">
		                        <label class="col-xs-5 control-label label-style">产品代码<span style="color: red;">*</span></label>
		                        <div class="col-xs-5">
		                            <select ng-model="ModalEntity.productID" 
		                            		required name="productID" ng-disabled="!isShow"
		                                    ng-options="op.productID as op.productID+'_'+op.productName for op in productsAll" class=""></select>
		                        </div>
	                         </div>
	                         
	                        <div class="form-group">
	                            <label class="col-xs-5 control-label label-style">合约代码<span style="color: red;">*</span></label>
	                            <div class="col-xs-5">
	                            	<input type="text" class="form-control two-columns-modal-input" ng-disabled="!isShow"
	                                       ng-model="ModalEntity.instrumentID"  id="instrumentID" name="instrumentID" maxlength="30" required>
	                               <!--  <select ng-model="ModalEntity.instrumentID" required name="instrumentID" ng-disabled="true"
	                                        ng-options="op.instrumentID as op.instrumentID+'_'+op.instrumentName for op in instruments" class=""></select> -->
	                            </div>
	                    	</div>
	
	                        <div class="form-group">
	                            <label class="col-xs-5 control-label label-style">期现价格<span style="color: red;">*</span></label>
	
	                            <div class="col-xs-5">
	                                <input type="text" class="form-control two-columns-modal-input" placeholder="请输入期现价格" ng-pattern="/^([1-9]\d{0,13}|0)(\.\d{1,8})?$/" tab="1" onkeydown="myKeyup(event,this)"
	                                       ng-model="ModalEntity.lastPrice"  id="lastPrice" name="lastPrice" maxlength="23" required>
	                                <span ng-show="myAddForm.lastPrice.$dirty && myAddForm.lastPrice.$invalid" style="color: red;">期现价格为必填项，且为浮点数字型，最多录入14位整数，8位小数，例：98.66</span>
	                            </div>
	                        </div>
	                        
	                        <div><input type="hidden" ng-bind="ModalEntity.recordIndex"></div>
	                	</form>
	                </div>
	                <!--End  添加表单内容-->
	            </div>
	            <div class="modal-footer" style="overflow:hidden;">
	                    <button class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title=""
	                          ng-click="  myAddForm.exchID.$invalid || myAddForm.productID.$invalid || myAddForm.instrumentID.$invalid || myAddForm.lastPrice.$invalid || ModalEntity.settleDate.$invalid ||save(ModalEntity)"  tab="2" onkeydown="myKeyup(event,this)"
	                          ng-disabled= " myAddForm.exchID.$invalid || myAddForm.productID.$invalid || myAddForm.instrumentID.$invalid || myAddForm.lastPrice.$invalid || ModalEntity.settleDate.$invalid">&nbsp;确定&nbsp;</button>
	                              <span class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title="" ng-show="isShow"
	                          ng-click="myAddForm.lastPrice.$invalid 
	                          || myAddForm.exchID.$invalid || myAddForm.productID.$invalid || myAddForm.instrumentID.$invalid || ModalEntity.settleDate.$invalid||continueSave(ModalEntity)"
	                          ng-disabled="myAddForm.lastPrice.$invalid 
	                          || myAddForm.exchID.$invalid || myAddForm.productID.$invalid || myAddForm.instrumentID.$invalid || ModalEntity.settleDate.$invalid">&nbsp;继续增加&nbsp;</span>
	                    <span class="btn btn-close btn-sm popover-info" data-rel="popover" data-placement="bottom" title=""
	                          data-dismiss="modal">&nbsp;取消&nbsp;</span>
	            </div>
	            
	        </div>
	    </div>
	</div>
	
</div>