.full-menu{
    width: 16000px;
    padding-top: 13px;
    padding-bottom: 24px;
}
.spanTab{
    position: relative;
    overflow:hidden;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-bottom: none;
    padding-right: 16px;
}
#move_li:first-child li:first-child .spanTab .closeButton{
    display: none;
}
li.showLi{
    display: inline-block;
    /*margin: 0 0 -2px 4px;*/
    border: 0;
    padding: 0;
}

.spanTab:hover .closeButton{
    /*background: #E6E6E6;*/
    opacity: 1;
    /*color: #ffffff;*/
}
li.showLi.active{
    margin-right: 10px;
}
li.active .spanTab{
    background: #00ABE2;
    border-bottom-color: transparent;
    /*z-index: 10;*/
}
li.active .spanTab a{
    color: #ffffff;
    padding-left: 10px;
}
li.active .spanTab .closeButton{
    background: transparent;
    opacity: 1;
    color: #ffffff;
}

.closeButton{
    /*background: #ffffff;*/
    color: #B7B7B7;
    border-radius: 3px;
    line-height: 8px;
    text-align: center;
    font-size: 5px;
    top: 9px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
}
.closeButton::after {
    content: "\2716";
}
.closeAll{
    /*display: inline-block;*/
    margin-left: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: none;
}
.closeAll a{
    text-decoration: none;
    background: #F1F1F1;
    border: 1px solid #E3E3E3;
    padding: 4px 6px;
}
.closeAll a:hover{
    background: #d8d8d8;
}
.top-menu-show{
    position: absolute;
    right: 15px;
    white-space: nowrap;
    background-color: #ddebf3;
    border: 1px solid #b2d3e7;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    color: #444;
    display: none;
    z-index: 10;
}
.top-menu-show:before{
    content: '';
    background: #DDEBF3 none repeat scroll 0 0;
    height: 6px;
    width: 6px;
    -webkit-box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
    -moz-box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
    -webkit-transform: rotate(45deg) translate(6px, 6px);
    -moz-transform: rotate(45deg) translate(6px, 6px);
    -ms-transform: rotate(45deg) translate(6px, 6px);
    -o-transform: rotate(45deg) translate(6px, 6px);
    transform: rotate(45deg) translate(6px, 6px);
    position: absolute;
    right: 40px;
    top: -11px;
}
li.active:hover .top-menu-show{
    display: block;
}
.opetation-tab{
    position: absolute;
    right: 0;
    top: 13px;
}