.mar5{
	float:left;
	margin:5px 5px 0 0;
}

.mar5 input,.mar5 select{
	margin-right:5px;
}

.ajax-file-upload-container{
	display: none; !important;
}

.ajax-file-upload{
    background-color: #dbe1e4 !important;
	border: 1px solid #bac0c4 !important;
	color: #444 !important;
	border-radius: 5px;
	padding-left:30px !important;
	margin-top:5px !important;
}

.ajax-file-upload:hover,.ajax-file-upload:active{
    background-color: #717476 !important; 
    color: #ffffff !important;
}