<link rel="stylesheet" href="sysstatus/sysStatus.css" />
<div class="row" ng-controller="SysStatusController">
  <!--  测试的时候使用释放 <form class="form-12">
        <div class="form-row">
            <div class="row-col-one" style="margin-top: 12px;">
                <label class="word-style">实时轮询 (/秒)</label>
                <input type="text" ng-model="queryEntity.seconds"/>
            </div>
        </div>
        <div class="btn-beyond-one-row">
            <button  class="btn btn-reset btn-beyond-two" ng-show="operSeat_start" ng-disabled="isStart"
                     ng-click="start()">执行轮询</button>
            <button class="btn btn-reset btn-beyond-two" ng-show="operSeat_stop" ng-disabled="isStop"
                    ng-click="stop()">停止轮询</button>
        </div>
    </form>-->
    <div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div class="table-description">进程状态监控</div>
                <div class="monitor-table-distance">
                    <table class="cell-border stripe dataTable">
                        <thead>
                        <tr>
                            <th style="width: 150px">进程名称</th>
                            <th style="width: 150px">进程状态</th>
                            <th style="width: 150px">连接状态</th>
                         <!--   <th style="width: 150px">内存使用状态</th>-->

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="userInfo in serverMachine " ng-class="{windColoerTr:$index%2 == 0}" ng-bind-html="serverMachine">
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.name)"></td>
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.processStatus)"></td>
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.linkStatus)"></td>
                           <!-- <td nowrap="nowrap" ng-bind-html="convert(userInfo.memoryStatus)"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div class="table-description">业务监控</div>
                <div class="monitor-table-distance">
                    <table class="cell-border stripe dataTable">
                        <thead>
                        <tr>
                            <th style="width: 250px">进程名称</th>
                            <th style="width: 250px">数据同步</th>
                           <!-- <th style="width: 250px">流水处理</th>-->
                            <th style="width: 250px">席位登录/用户登录</th>
                       <!--     <th style="width: 250px">行情订阅</th>-->

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="userInfo in serverBusiness " ng-class="{windColoerTr:$index%2 == 0}" ng-bind-html="serverBusiness">
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.name)"></td>
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.dataSynchroStatus)"></td>
                           <!-- <td nowrap="nowrap" ng-bind-html="convert(userInfo.processStatus)"></td>-->
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.signInStatus)"></td>
                          <!--  <td nowrap="nowrap" ng-bind-html="convert(userInfo.memoryStatus)"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 clear-padding-right" id="111">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div class="table-description">服务器监控</div>
                <div class="monitor-table-distance">
                    <table class="cell-border stripe dataTable">
                        <thead>
                        <tr>
                            <th style="width: 250px">服务器</th>
                            <th style="width: 250px">系统状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="userInfo in serverServer " ng-class="{windColoerTr:$index%2 == 0}" ng-bind-html="serverServer">
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.name)"></td>
                            <td nowrap="nowrap" ng-bind-html="convert(userInfo.serverStatus)" style="text-align:left;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





<!--
    <div class="row">
        <div class="col-xs-12 clear-padding-right">
            <label class="value-style" style="font-size: larger !important;margin-left:12px">{{status}}</label>
        </div>
    </div>
-->

</div>
