<HEAD> 
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<META HTTP-EQUIV="Expires" CONTENT="0"> 
</HEAD>
<link href="windControl/assetGroup.css" rel="stylesheet">
<div ng-controller="assetGroupController" style="width: 100%;">
    <div class="assetRow">
        <label class="asset-label">所属机构</label>
        <select class="col-len" ng-model="assetGroupEntity.brokerID"
                ng-options="ca.brokerID as ca.brokerName for ca in brokerIDList">
        </select>
        <label class="asset-label">数据来源</label>
        <select class="col-len" ng-model="assetGroupEntity.dataSourceID"
                ng-options="ds.dataSourceID as ds.dataSourceName for ds in dataSourceList">
        </select>
        <label class="asset-label">资产大类</label>
        <select class="col-len" ng-model="assetGroupEntity.capitalTypeID"
                ng-options="ct.capitalTypeID as ct.capitalTypeName for ct in capitalTypeList">
        </select>
        <label class="asset-label">分类方式</label>
        <select class="col-len" ng-model="assetGroupEntity.sortTypeID"
                ng-options="st.sortTypeID as st.sortTypeName for st in sortTypeList">
        </select>
        <label class="asset-label">分类名称</label>
        <input type="text" ng-model="assetGroupEntity.sortName">
    </div>
    <div class="assetRow">
        <input type="button" class="mybtn" value="增加明细分类" data-toggle="modal" data-target="#addDetailModal"
               ng-click="initDetailType()">
        <!--<input type="button" class="btn btn-success" value="增加明细分类" data-toggle="modal" data-target="#addDetailModal"-->

        <input type="button" class="mybtn" value="增加组合分类" data-toggle="modal" data-target="#addGroupModal"
               ng-click="initDetailType()">
        <!--<input type="button" class="btn btn-success" value="增加组合分类" data-toggle="modal" data-target="#addGroupModal"-->
        <input type="button" class="mybtn" value="从文件导入分类" data-toggle="modal" data-target="#fileExportModal" ng-click="initDetailType()">
        <input type="button" class="mybtn smlbtn" value="查询" ng-click="assetQuery(assetGroupEntity)">

        <!--<input type="button" class="btn btn-success" value="从文件导入分类" data-toggle="modal" data-target="#fileExportModal" ng-click="initDetailType()">-->
        <!--<input type="button" class="btn btn-success" value="查询" ng-click="assetQuery(assetGroupEntity)">-->
    </div>
    <table id="assetGroup_table" class="cell-border stripe" cellspacing="0" width="100%">
    <!--<table id="assetGroup_table" class="table table-striped table-bordered table-hover">-->
    </table>
    <!-- 模态框（Modal） -->
    <!--明细-->
    <div class="modal fade" id="addDetailModal" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">增加明细分类</h4>
                </div>
                <div class="modal-body" id="myDetail" style="padding: 12px;height: 550px;">
                    <label class="asset-label">分类名称</label>
                    <input type="text" class="col-len" ng-model="detailEntity.sortName" ng-disabled="isDisabled" style="margin-left: 30px;">
                    <label class="asset-label">资产大类</label>
                    <select class="col-len" ng-model="detailEntity.capitalTypeID" ng-disabled="isDisabled" ng-options="ct.key as ct.text for ct in assetContractType"></select>
                    <div style="line-height: 40px;margin-bottom: -10px;">
                        <label class="asset-label" id="search_label">证券/合约代码</label>
                        <input type="text" ng-keyup="findByID(detailEntity)" ng-model="queryDetailByID" id="search_text">
                        <label class="myred hidden" id="zqinformation">证券至少输入<mark>4</mark>位</label>
                        <label class="myred hidden" id="qhinformation">期货至少输入<mark>1</mark>位</label>
                    </div>
                    <div class="detail-type-table">
                        <div class="left-table" id="left_table">
                            <table id="unchoiceType_table" class="cell-border stripe" cellspacing="0" width="100%">
                            <!--<table id="unchoiceType_table" class="table table-striped table-bordered table-hover">-->
                            </table>
                        </div>
                        <div class="center-content" id="center_content">
                            <input type="button" value="&gt;&gt;" class="mybtn mar-setting" ng-click="addAlltoChoiced()">
                            <input type="button" value="&gt;" class="mybtn smlbtn mar-setting" ng-click="addTochoiced()">
                            <input type="button" value="&lt;" class="mybtn smlbtn mar-setting" ng-click="removeFromhoiced()">
                            <input type="button" value="&lt;&lt;" class="mybtn" ng-click="removeAlltoChoiced()">
                        </div>
                        <div class="right-table" id="right_table">
                            <table id="choicedType_table" class="cell-border stripe" cellspacing="0" width="100%">
                            <!--<table id="choicedType_table" class="table table-striped table-bordered table-hover">-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-body hidden" id="myDynamic">
                    <table id="exchIDchoicedType_table" class="cell-border stripe" cellspacing="0" width="100%">
                    <!--<table id="exchIDchoicedType_table" class="table table-striped table-bordered table-hover">-->
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="button" value="保存" id="mysave" class="mybtn smlbtn" ng-click="saveDetailData(detailEntity)">
                    <!--<input type="button" value="保存" id="mysave" class="btn btn-success" ng-click="saveDetailData(detailEntity)">-->
                    <input type="button" value="退出" class="mybtn smlbtn" ng-click="exitModal('addDetailModal')">
                    <!--<input type="button" value="退出" class="btn btn-success" ng-click="exitModal('addDetailModal')">-->
                </div>
            </div>
        </div>
    </div>

    <!--组合-->
    <div class="modal fade" id="addGroupModal" tabindex="-2"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myGroupModalLabel">增加组合分类</h4>
                </div>
                <div class="modal-body" style="padding: 12px;height: 400px;">
                    <label class="asset-label">分类名称</label>
                    <input type="text" class="col-len" ng-model="detailEntity.sortName" ng-disabled="isDisabled">
                    <label class="asset-label">资产大类</label>
                    <select class="col-len" ng-model="detailEntity.capitalTypeID" ng-disabled="isDisabled" ng-options="ct.key as ct.text for ct in assetContractType"></select>
                    <div class="detail-type-table">
                        <div class="left-table">
                            <table id="hasGroupType_table" class="cell-border stripe" cellspacing="0" width="100%">
                            <!--<table id="hasGroupType_table" class="table table-striped table-bordered table-hover">-->
                            </table>
                        </div>
                        <div class="center-content">
                            <input type="button" value="增加" class="mybtn smlbtn" ng-click="addCombineToRight()">
                            <!--<input type="button" value="增加" class="btn btn-success" ng-click="addCombineToRight()">-->
                        </div>
                        <div class="right-table">
                            <table id="needAddGroup_table" class="cell-border stripe" cellspacing="0" width="100%">
                            <!--<table id="needAddGroup_table" class="table table-striped table-bordered table-hover">-->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="保存" class="mybtn smlbtn" ng-click="saveCombineData(detailEntity)">
                    <!--<input type="button" value="保存" class="btn btn-success" ng-click="saveCombineData(detailEntity)">-->
                    <input type="button" value="退出" class="mybtn smlbtn" ng-click="exitModal('addGroupModal')">
                    <!--<input type="button" value="退出" class="btn btn-success" ng-click="exitModal('addGroupModal')">-->
                </div>
            </div>
        </div>
    </div>

    <!--导入-->
    <div class="modal fade" id="fileExportModal" tabindex="-3"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 750px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true" ng-click="clearUpLoadTmpEntity()">&times;</button>
                    <h4 class="modal-title" id="myExportModalLabel">文件导入分类</h4>
                </div>
                <div class="modal-body" style="padding: 15px;height: 550px;">
                    <label class="asset-label">资产大类</label>
                    <select class="col-len" ng-model="detailEntity.capitalTypeID" ng-options="ct.key as ct.text for ct in assetContractType"></select>
                    <label class="asset-label">数据来源</label>
                    <!--<select class="col-len" ng-model="detailEntity.dataSourceID" ng-options="ct.key as ct.text for ct in uploadDataSource"></select>-->
                    <select class="col-len" ng-model="detailEntity.dataSourceID" ng-options="ct.key as ct.text for ct in dataSource"></select>
                    <div id="uploadFundloader">选择分类文件</div>
                    <div class="detail-type-table">
                        <table id="fileUpload_table" class="cell-border stripe" cellspacing="0" width="100%">
                        <!--<table id="fileUpload_table" class="table table-striped table-bordered table-hover">-->
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <!--<input type="button" value="确认导入" class="btn btn-success" ng-click="saveFileData(detailEntity)">-->
                    <input type="button" value="确认导入" class="mybtn" ng-click="saveFileData(detailEntity)">
                    <input type="button" value="退出" class="mybtn smlbtn" ng-click="exitModal('fileExportModal')">
                    <!--<input type="button" value="退出" class="btn btn-success" ng-click="exitModal('fileExportModal')">-->
                </div>
            </div>
        </div>
    </div>
</div>