<!--资产单元期货数量控制 -->
<link href="windControl/riskAccountFutureVolumeControl.css" rel="stylesheet">
<div ng-controller="riskAccountFutureVolumeControlController" style="width: 100%;overflow: auto;">

 <div style="height:10px;"></div>
    <input type="button"  ng-show = "riskAccountFutureVolumeAddButtonIsShow" value = &nbsp;&nbsp;&nbsp;新&nbsp;&nbsp;增&nbsp;&nbsp;&nbsp; name = "RiskAccountFutureVolumeControlService.saveData" class="backFilter myNewBtn" ng-click = "showRiskAccountFutureVolumeControlDetail()">
    <div style="height:15px;"></div>

 	<div>
	    <table id="riskAccountFutureVolumeControl_table" class="cell-border stripe" cellspacing="0" width="100%">
	    </table>
	</div>
	
	<div ng-show = riskAccountFutureVolumeControlShow>
	<label class="detail-header">资产单元期货数量控制</label>
	<div class="controlDetail">
    	<div style="float: left;">
    		<div class="detailRow" >
    		    <label>资产单元:</label>
				<select ng-disabled = riskAccountSelectIsCanUse ng-model="riskAccountFutureVolumeControlEntity.riskAccount" class="select-style" 
						ng-options="cf.subAccountID as cf.subAccountName for cf in subAccountList">
                </select>
    			<label>品种:</label>
    			<select ng-disabled = riskAccountSelectIsCanUse ng-model="riskAccountFutureVolumeControlEntity.exhangeid_productid"  class="select-style" 
    			        ng-options="op.groupID as op.groupName for op in exchangeAndProducts">
                </select>
                <label>合约最大持仓量:</label>
                <input type="text" class="futureVolumeControl-detail-text" ng-model="riskAccountFutureVolumeControlEntity.maxPositionVolumeInstrument" 
                       ng-keyup="riskAccountFutureVolumeControlnumberControl(riskAccountFutureVolumeControlEntity.maxPositionVolumeInstrument)">
                        <label class ="riskAccountfutureVolumeControllableFontSize" style="color: red;">(0表示不控制)</label>
    			<label>合约最大撤单次数:</label>
    			<input type="text" class="futureVolumeControl-detail-text" ng-model="riskAccountFutureVolumeControlEntity.maxKillOrderVolumeInstrument" 
    			       ng-keyup="riskAccountFutureVolumeControlnumberControl(riskAccountFutureVolumeControlEntity.maxKillOrderVolumeInstrument)">
    			        <label class ="riskAccountfutureVolumeControllableFontSize" style="color: red;">(0表示不控制)</label>
    			<label>品种最大开仓量:</label>
    			<input type="text" class="futureVolumeControl-detail-text" ng-model="riskAccountFutureVolumeControlEntity.maxOpenVolumeProduct" 
    			       ng-keyup="riskAccountFutureVolumeControlnumberControl(riskAccountFutureVolumeControlEntity.maxOpenVolumeProduct)">
    			        <label class ="riskAccountfutureVolumeControllableFontSize" style="color: red;">(0表示不控制)</label>
    		</div>
    	</div>
	    <div class="operation-table">
	    
	        <div class="btn-add-left">
	  			<input ng-show = riskAccountFutureVolumeControlEdit type="button" value="{{riskAccountFutureVolumeControl_save}}" class="backFilter myNewBtn" ng-click="riskAccountSaveData(riskAccountFutureVolumeControlEntity)">
	        </div>
	        <div class="btn-add-left">
	  			<input ng-show = !riskAccountFutureVolumeControlEdit type="button" value="{{riskAccountFutureVolumeControl_update}}" class="backFilter myNewBtn" ng-click="riskAccountUpdateData(riskAccountFutureVolumeControlEntity)">
	        </div>
	    
   	    	<div class="btn-add-left">
    			<input ng-show = riskAccountFutureVolumeControlEdit type="button" value={{riskAccountFutureVolumeControl_setPara}} class="backFilter myNewBtn" ng-click="riskAccountRepeatData()">
	   		</div>
	   		<div class="btn-add-left">
    			<input ng-show = !riskAccountFutureVolumeControlEdit type="button" value={{riskAccountFutureVolumeControl_resetPara}} class="backFilter myNewBtn" ng-click="riskAccountGveUpUpdate()">
	   		</div>
	   	</div>
    </div>
    </div>
</div>