<link rel="stylesheet" href="syspecial/capitalAccountPrincipal.css" />
<div class="row" ng-controller="CapitalAccountPrincipalController">
	<!-- start 定义表单查询-->
	<form class="form-12">
	    <div class="row-col-one" >
        	<label class="word-style">机构代码</label>
            <select ng-model="queryEntity.instClientID" 
				ng-disabled="isInstClient " class="value-style" ng-change="changeInstClient()"
				ng-options="op.instClientID as op.instClientID+'_'+ op.instClientAbbrName for op in queryinstClientlists">
				<option value="">全部</option>
			</select>
        </div>

		<div class="row-col-one" >
        	<label class="word-style">资产单元</label>
            <select ng-model="queryEntity.innerAccountID"  class="value-style"
				ng-options="op.subAccountID as op.instClientID+'_'+op.subAccountID+'_'+op.subAccountName for op in queryAccountEntitys">
				<option value="">全部</option>
			</select>
        </div>
		
		<div class="btn-beyond-one-row"  ng-show="capitalAccountPrincipal_query">
      	      <button type="button" class="btn btn-query btn-word-two"  ng-click="find()">查询</button>
    	</div>
    	<div class="row-form row-btn-operation"  ng-show="capitalAccountPrincipal_add">
          	<div class="row-btn-icon" >
               <span class="btn-add-icon"></span>
               <input type="button" class="btn btn-add btn-icon-two" value="新增" data-toggle='modal' ng-click="initParameter()">
           </div>
        </div>
		
	</form>
	<!--End 表单查询 -->
	
	
	<!--PAGE CONTENT START-->
	<div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div>
                    <table id="capitalAccountPrincipal_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--PAGE CONTENT END-->

	<!--策略信息 新增 修改 模态框（Modal） -->
	<div class="modal fade" id="capitalAccountPrincipalModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content" style="width:650px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">资产单元名义本金维护</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" role="form" name="capitalAccountPrincipalForm" novalidate>
						
						<div class="row form-group">
							<label for="instClientID" class="col-sm-3 control-label">机构代码<span style="color: red;">*</span></label>
							<div class="col-xs-6">
								<select ng-model="modalEntity.instClientID" required class="form-control two-columns-modal-input"
									ng-disabled="isUpdate || isInstClient " class="form-control" required
									id="instClientID" name="instClientID" ng-change="changeInstClientModal()"
									ng-options="op.instClientID as op.instClientID+'_'+ op.instClientAbbrName for op in queryinstClientlists">
								</select> 
								<span ng-show=" capitalAccountPrincipalForm.instClientID.$dirty &&  capitalAccountPrincipalForm.instClientID.$invalid" 
									style="color: red;">机构代码为必填项</span>
							</div>
						</div>

						<div class="row form-group">
							<label for="innerAccountID" class="col-sm-3 control-label">资产单元<span style="color: red;">*</span></label>
							<div class="col-xs-6">
								<select ng-model="modalEntity.innerAccountID" required class="form-control two-columns-modal-input"
									ng-disabled="isUpdate " class="form-control" id="innerAccountID" name="innerAccountID" required
									ng-options="op.subAccountID as op.instClientID+'_'+op.subAccountID+'_'+op.subAccountName for op in modalAccountEntitys">
								</select> 
								<span ng-show="capitalAccountPrincipalForm.innerAccountID.$dirty && capitalAccountPrincipalForm.innerAccountID.$invalid"
									style="color: red;">资产单元为必填项</span>
							</div>
						</div>
				

						<div class="row form-group">
							<label for="realPrincipal" class="col-sm-3 control-label">名义本金<span style="color: red;">*</span></label>
							<div class="col-xs-6">
								<input type="text" class="form-control two-columns-modal-input" id="realPrincipal"
									placeholder="请输入名义本金" ng-model="modalEntity.realPrincipal"
									name="realPrincipal" maxlength="18" required ng-pattern="/^([1-9]\d{0,13}|0)(\.\d{1,3})?$/" > 
								<span ng-show="capitalAccountPrincipalForm.realPrincipal.$dirty && capitalAccountPrincipalForm.realPrincipal.$invalid"
									style="color: red;">名义本金为必填项，且最多为14位整数3位小数</span>
							</div>
						</div>

						<input type="hidden" ng-bind="modalEntity.recordIndex">
					</form>
					<!--End  添加表单内容-->
				</div>
				<div class="modal-footer">
					<input class="btn btn-info btn-sm popover-info" data-rel="popover" type="button" value="确定"
						ng-disabled = "capitalAccountPrincipalForm.instClientID.$invalid || capitalAccountPrincipalForm.innerAccountID.$invalid || capitalAccountPrincipalForm.realPrincipal.$invalid"
						data-placement="bottom" title="" ng-click="capitalAccountPrincipalForm.instClientID.$invalid || capitalAccountPrincipalForm.innerAccountID.$invalid 
						|| capitalAccountPrincipalForm.realPrincipal.$invalid || save(modalEntity)" tab="3111" onkeydown="myKeyup(event,this)">
					<input class="btn btn-close btn-sm popover-info" data-rel="popover" type="button" value="取消" tab="3112" onkeydown="myKeyup(event,this)"
						data-placement="bottom" title="" data-dismiss="modal">
				</div>
			</div>
		</div>
	</div>

	<!-- modal end -->
</div>
