.form-12{
    position: relative;
    margin-left: 12px;
    background-color: #ffffff;
    margin-top: -15px;
}
.form-12:after,.monitor-table-distance:after{
    display: block;
    content: '';
    height: 15px;
    width: 100%;
    background-color: #EEF2F5;
}
.row-inline{
    display: inline-block;
    margin-bottom: -10px;
}
.row-form{
    padding-left: 12px;
}
.row-beyond-two-distance{
    margin-top: -25px;
}
.value-style{
    width: 150px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F7F7F7;
    border: 1px solid #e3e4e6;
    padding: 4px 6px;
}
.value-style:focus{
    border-color: #aad7f0;
    outline: none;

}

.value-style{
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.word-style{
    margin-right: 10px;
}
.btn-word-two{
    padding-left: 25px;
    padding-right: 25px;
}
.btn-icon-two{
    padding-left: 40px;
    padding-right: 20px;
}
.btn-beyond-two{
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    height: 30px;
    line-height: 20px;
    border: none;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-sm,
.btn-group-sm > .btn {
    border: 1px solid transparent;
}
.btn-query{
    background-color: #4ba9df;
}
.btn-query[disabled],.btn-query[disabled]:hover{
    background-color: rgba(75, 169, 223, 0.7);
}
.btn-reset[disabled],.btn-reset[disabled]:hover{
    background-color: rgba(199, 199, 199, 0.7);
    color: #ffffff;
    border-color: rgba(186, 192, 196, 0.25);
}
.btn-add[disabled],.btn-add[disabled]:hover{
    background-color: rgba(116, 167, 99, 0.7);
}

.btn-close{
    /*background-color: #F9F9F9;*/
    border: 1px solid #bfc6d3;
    color: #444;
}
.btn-close:hover{
    background-color: #D4D4D4;
}
.btn-query:hover,.btn-query:active{
    background-color: #4398c8;
}
.btn-reset{
    background-color: #dbe1e4;
    border: 1px solid #bac0c4;
    color: #444;
}
.btn-reset:hover,.btn-reset:active{
    background-color: #717476;
    color: #ffffff;
}
.btn-gray{
    border-color: #E3E3E3;;
    background-color: #F1F1F1;
    color: #444;
}
.btn-gray:hover{
    border-color: #E3E3E3;
    background-color: #d8d8d8;

}
.row-btn-icon{
    position: relative;
    display: inline-block;
}
.row-btn-operation{
    margin-bottom: 15px;
}
.btn-add-icon{
    position: absolute;
    top: 9px;
    left: 25px;
    width: 12px;
    height: 12px;
    background-image: url("../../../ui-ace-finally/assets/images/btn-add.png");
}
.btn-add{
    background-color: #74a763;
}
.btn-add:hover{
    background-color: #689659;
}
.left{
    float: left;
}
.right{
    float: right;
}
.btn-beyond-one-row-bottom{
    margin-bottom: 15px;
}
.btn-manage{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 30px;
}
.clear-padding-right{
    padding-right: 0;
}
.activeLI a{
    background-color: #2e343f !important;
    color: #b7bac1 !important;
}
.sidebar-serach{
    width: 160px;
    height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #2f3847;
    color: #9a9da4;
    font-size: 12px;
    padding: 4px 10px;
    border: 1px solid transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    outline: none;

}
.logout{
    width: 100px;
    float: right;
    text-align: center;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    position: relative;

}
.logout a{
    color: #ffffff;
    margin-left: 12px;
}
.logout:hover,.pull-right-default{
    background: #474f60;
}
.skin-choice{
    position: absolute;
    right: 0;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer;
}
.skin-choice-right{
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top: 25px solid #e8e8e9;
    border-left: 25px solid transparent;
}
.skin-choice-left{
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
}
.page-right{
    margin-right: -10px;
}
.skin-choice:hover{
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
.toggle-sidebar{
    position: absolute;
    top: 300px;
    left: 170px;
    width: 20px;
    height: 25px;
    line-height: 25px;
    background-color: #474f60;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding-right: 5px;
    z-index: 2;
}
.toggle-sidebar:hover{
    /*width: 50px;*/
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
}
.toggle-open{
    display: block;
    width: 20px;
    height: 25px;
    background-image: url("../../assets/images/show.png");
    background-repeat: no-repeat;
    background-position: 0 7px;
    margin-left: 4px;
}
.toggle-close{
    display: block;
    width: 20px;
    height: 25px;
    background-image: url("../../assets/images/folder_hide.png");
    background-repeat: no-repeat;
    background-position: 0 8px;
    margin-left: 4px;
}
.toggle-sidebar:hover .toggle-sidebar-default{
    /*display: none;*/
}
.toggle-sidebar:hover .toggle-sidebar-hover{
    /*display: block;*/
}
.toggle-hide{
    display: none;
}
#move_li:first-child li:first-child .top-menu-show{
    display: none;
}
.btn-search{
    position: absolute;
    background: url("../images/search.png") no-repeat;
    width: 16px;
    height: 16px;
    top: 81px;
    left: 140px;
    cursor: pointer;
}
.icon-close{
    display: none;
    position: absolute;
    left: 133px;
    top: 75px;
    color: #C2C3C6;
    font-size: 28px;
    cursor: pointer;
}
.icon-close:hover{
    color: #ffffff;
}
.icon-updatepassword{
    position: absolute;
    top: 29px;
    left: 10px;
    background: url("../images/updatePassword.png") no-repeat;
    width: 12px;
    height: 12px;
}
.icon-full-screen{
    position: absolute;
    top: 29px;
    left: 20px;
    background: url("../images/fullscreen.png") no-repeat;
    width: 13px;
    height: 13px;
}
.icon-lock-screen{
    position: absolute;
    top: 29px;
    left: 20px;
    background: url("../images/lockScreen.png") no-repeat;
    width: 12px;
    height: 13px;
}
.icon-setting{
    position: absolute;
    top: 29px;
    left: 20px;
    background: url("../images/setting.png") no-repeat;
    width: 13px;
    height: 13px;
}
.skin-setting{
    position: absolute;
    z-index: 3;
    background-color: #282d37;
    width: 120px;
    margin-left: 0;
    display: none;
}
.skin-setting li{
    list-style: none;
    line-height: 25px;
    color: #ffffff;
}
.skin-setting .skin-light:hover{
    background-color: #a3a7af;
}
.icon-dropdown{
    position: absolute;
    top: 25px;
    right: 10px;
    background: url("../images/sort_desc.png") no-repeat;
    width: 19px;
    height: 19px;
}
.icon-exit{
    position: absolute;
    top: 29px;
    left: 20px;
    background: url("../images/exit.png") no-repeat;
    width: 12px;
    height: 13px;
}
.icon-quantdo-logo{
    position: absolute;
    top: 19px;
    left: 8px;
    width: 85px;
    height: 22px;
    background-image: url("../images/quantdologo.png");
}
.logo-bg,.logo-bg:hover{
    background-color: #1c1f26;
}
.icon-logo{
    display: inline-block;
    background: url("../images/logo.png") no-repeat;
    width: 24px;
    height: 24px;
    margin-bottom: -5px;
}
.btn-submenu{
    position: absolute;
    left: 25px;
    top: 12px;
    background: url("../images/submenu.png") no-repeat;
    width: 5px;
    height: 9px;
    z-index: 2;
}
.last-menu{
    left: 35px;
    top: 10px;
}
.last-menu + a{
    padding-left: 45px !important;
}
.first-page{
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    background-color: #ffffff;
}
.delete-row{
    display: inline-block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #F08A86;
    border-radius: 3px;
    text-align: center;
    color: #F08A86;
    cursor: pointer;
}
.delete-row:hover{
    background-color: #F08A86;
    color: #ffffff;
}
.update-row{
    display: inline-block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #519e67;
    border-radius: 3px;
    text-align: center;
    color: #519e67;
    margin-right: 5px;
    cursor: pointer;
}
.update-row:hover{
    background-color: #519e67;
    color: #ffffff;
}
.login-layout .main-container .main-content:before{
    background-color: transparent;
}
.sidebar-after-hide:before{
    content: '';
    position: absolute;
    width: 60px;
    height: 90%;
    top: 70px;
    left: 0;
    background-color: #EEF2F5;
}
.btn-beyond-one-row{
    position: absolute;
    right: 60px;
    top: 35%;
}
.add-select{
    width: 260px;
}
.toggle-sidebar-hover{
    display: none;
}
#fileuploader{
    position: relative;

}
.input-filter-container{
    position: relative;
    display: inline-block;

}
.filter-content{
    position: absolute;
    top: 45px;
    z-index: 3;
    background-color: #ffffff;
    width: 150px;
    margin: 0;
    display: none;
    border: 1px solid #aad7f0;
    border-top: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.filter-content li{
    list-style: none;
    line-height: 30px;
    padding-left: 8px;
}
.filter-content li:hover{
    background-color: #00ABE2;
    color: #ffffff;
}
.submenu-tab{
    display: inline-block;
    width: 50%;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
.current{
    background-color: #313844;
}
.default{
    background-color: #393f4d;
}
.btn-checkbox{
    width: 8px;
    height: 8px;
    background-image: url("../../assets/images/not-choice-white.png");
}
.btn-all-choice{
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-image: url("../../assets/images/not-choice-gray.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    margin-left: 15px;
}
.click-choice-all,.click-choice-one,.clicked-choice-all,.clicked-choice-one{
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.click-choice-all,.click-choice-one{
    background-image: url("../images/not-choice-gray.png");
}
.clicked-choice-all,.clicked-choice-one{
    background-image: url("../images/chioced-blue.png");
}
.form-row{
    width: 80%;
}
.row-col-one{
    display: inline-block;
    margin-left: 12px;
    margin-right: -12px;
}
.word-bottom-clear{
    margin-bottom: 5px;
}
.content-bottom-clear{
    margin-bottom: 0;
}
.content-top-clear{
    margin-top: 0;
}
.btn-operation-top-add{
    margin-top: 25px;
}
.collection_dark{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
.collection_dark_not_clicked{
    background-image: url("../images/collection_dark_not_clicked.png");
}
.collection_dark_clicked{
    background-image: url("../images/collection_dark_clicked.png");
}
#capital_account_table_wrapper tr:nth-child(3) .update-row{
    display: none;
}
#capital_account_table_wrapper tr:nth-child(3) .delete-row{
    margin-left: 45px;
}
#capital_account_table_wrapper tr:nth-child(8) .delete-row{
    display: none;
}
#capital_account_table_wrapper tr:nth-child(8) .update-row{
    margin-right: 45px;
}
.system-version{
    position: absolute;
    top: 16px;
    left: 0;
    width: 100px;
    font-size: 12px;
    color: #ffffff;
    text-align: right;
    padding-right: 8px;
}
.nav-collection li{
    position: relative;
    list-style: none;
    line-height: 30px;
}
.nav-collection li a{
    display: block;
    width: 120px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #c0c2c8;

}
.collection-close{
    display: block;
    top: 2px;
    left: 110px;
}

.main-content-inner:after{
    content: '';
    background-color: #000000;
}
.filter-control{
    display: block;
    width: 350px;
    line-height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 0;
    border: 1px solid #d2dbe8;
    padding-left: 5px;
}
.filter-control option{
    height: 25px;
    line-height: 25px;
}
.filter-control option:hover{
    background-color: #00abe2;
}
select.filter-control {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}
:-webkit-any(.multiple-select){
    overflow: auto;
}
.information-long::-webkit-scrollbar,.multiple-select::-webkit-scrollbar,#informationLong_amplify_content::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}
#informationLong_amplify_content::-webkit-scrollbar{
    width: 10px;
}
.information-long::-webkit-scrollbar{
    display: none;

}

/*定义滚动条轨道 内阴影+圆角*/
.information-long::-webkit-scrollbar-track,.multiple-select::-webkit-scrollbar-track,#informationLong_amplify_content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
.information-long::-webkit-scrollbar-thumb,.multiple-select::-webkit-scrollbar-thumb,#informationLong_amplify_content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #ddd;
}
.btn-group .dropdown-toggle{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 150px;
    background-color: #f7f7fa;
    border-color: #a1d0eb;
    border-style: solid;
}
.fa-caret-down{
    color: #bec7d5;
    float: right;
}
.input-group-btn{
    display: none;
}
.input-group .input-group-addon{
    position: absolute;
    right: 20px;
    z-index: 5;
}
.input-group .fa-search{
    color: #9ba6b9;
}
.input-group .multiselect-search{
    margin-left: 5px;
    width: 140px;
    margin-right: 5px;
    height: 20px;
    line-height: 20px;
    padding-left: 6px;
}
input:focus,select:focus,textarea:focus {
    outline: #05BDFF auto 2px;
}
.modal-choice-tab ul{
    background-color: #424E61;
}
.modal-choice-tab{
    margin-bottom: 15px;
}
.choice-tab-content{
    margin-bottom: 15px;
}
.toggle-classify{
    margin-top: -15px;
}
.modal-choice-tab ul li:last-child{
    border-bottom-color: #00a0e9;
}
.toggle-choice{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f3;
    display: block;
    padding-left: 10px;
    color: #424e61;
    border-bottom: 1px solid #dcdcdc;
}
.icon-toggle-choice{
    position: absolute;
    background: url("../img/icon.png") no-repeat -42px 0;
    width: 15px;
    height: 15px;
    right: 10px;
    top: 12px;
}
.modal-container{
    margin-top: 15px;
}
.modal-info{
    width: 20%;
    padding-left: 10%;
    padding-right: 10px;
    text-align: right;
}
.modal-input{
    float: right;
    width: 80%;
}
.modal-operation-container{
    margin-top: 15px;
    margin-left: 10px;
}
.clear-pLeft{
    padding-left: 0;
}

.row-operation-distance{
    display: inline-block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    text-align: center;
    margin-right: 5px;
	cursor: default;
}

.right-row{
	color: #0a9aec;
    border: 1px solid #0a9aec;
}
.fobid-operation{
	color: #F08A86;
    border: 1px solid #F08A86;
}
.reset-operation{
    border: 1px solid #519e67;
	color: #519e67;
}
.reset-row{
    display: inline-block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    color: #8e8e8e;
    border: 1px solid #8e8e8e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.row-operation-distance:hover{
    color: #fff !important;
}
.right-row:hover{
	background-color: #0a9aec;
}
.reset-operation:hover{
	background-color: #519e67;
}
.fobid-operation:hover{
	background-color: #F08A86;
}
.reset-row:hover{
    color: #fff;
    background-color: #8e8e8e;

}
.two-columns-modal-input{
    width: 150px;
}

/*
	显示修改密码的样式
	add by xzw
*/
#passStrengthind{
	height:6px;
	width:120px;
	border:1px solid #ccc;
}
#passStrengthindag{
	height:6px;
	width:120px;
	border:1px solid #ccc;
}
#passStrengthindtwo{
	height:6px;
	width:120px;
	border:1px solid #ccc;
}
.strengthLv1{
	background:red;
	height:6px;
	width:40px;
}
.strengthLv2{
	background:orange;
	height:6px;
	width:80px;
}
.strengthLv3{
	background:green;
	 height:6px;
	 width:120px;
}
.add-bottom-border{
    border-bottom: 1px solid #dddddd;
}
.bg-even-color{
    background-color: #fff;
}
.bg-odd-color{
    background-color: #eef2f5;
}
.behind-input{
	margin-left: -10px;
    padding-left: 0;
    text-align: left;
}