<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>全球交易系统</title>

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!--[if !IE]> -->
<link rel="stylesheet" href="../framework/ui-ace/assets/css/pace.css" />
<script
	data-pace-options='{ "ajax": true, "document": true, "eventLag": false, "elements": false }'
	src="../framework/ui-ace/assets/js/pace.js"></script>

<!-- <![endif]-->

<!-- bootstrap & fontawesome -->
<link rel="stylesheet"
	href="../framework/ui-ace/assets/css/bootstrap.css" />
<link rel="stylesheet"
	href="../framework/ui-ace/assets/css/font-awesome.css" />
<link rel="stylesheet"
	href="../framework/ui-ace/assets/css/bootstrap-datepicker.css">
	
<link rel="stylesheet" 
	href="../framework/libraries/my97DatePicker/skin/default/datepicker.css">

<link rel="stylesheet"
	href="../framework/ui-ace/assets/css/bootstrap-duallistbox.css">
<link rel="stylesheet"
	href="../framework/ui-ace/assets/css/bootstrap-multiselect.css">


<!-- text fonts -->
<link rel="stylesheet"
	href="../framework/ui-ace/assets/css/ace-fonts.css" />
<link rel="stylesheet" href="../pages/css/myfont.css" />

<!-- ace styles -->
<link rel="stylesheet" href="../framework/ui-ace/assets/css/ace.css"
	class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet"
	href="../framework/libraries/angular/directives/angularjsTab/angularTab.css" />
<link rel="stylesheet"
	href="../framework/libraries/ztree/css/zTreeStyle/zTreeStyle.css" />
<!--<link rel="stylesheet" href="../framework/libraries/ztree/css/demo.css" />-->
<!--[if lte IE 9]>
    <link rel="stylesheet" href="../framework/ui-ace/assets/css/ace-part2.css" class="ace-main-stylesheet"/>
    <![endif]-->

<!--[if lte IE 9]>
    <link rel="stylesheet" href="../framework/ui-ace/assets/css/ace-ie.css"/>
    <![endif]-->

<!-- ace settings handler -->
<script src="../framework/ui-ace/assets/js/ace-extra.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
    <script src="../framework/ui-ace/assets/js/html5shiv.js"></script>
    <script src="../framework/ui-ace/assets/js/respond.js"></script>
    <![endif]-->
<script src="login/login.js"></script>
<script src="../service/LogonService.js"></script>

</head>

<body class="no-skin" ng-controller="IndexMenuController">
	<!-- #section:basics/navbar.layout -->
	<div id="navbar" class="navbar navbar-default">
		<script type="text/javascript">
			try {
				ace.settings.check('navbar', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="navbar-container" id="navbar-container"
			ng-controller="indexTitleController">

			<!-- /section:basics/sidebar.mobile.toggle -->
			<div class="navbar-header pull-left">
				<!-- #section:basics/navbar.layout.brand -->
				<a href="#home" class="navbar-brand">
					<small>
						<i class="fa fa-leaf">全球交易系统</i>
					</small>
				</a>
				<!-- 资管柜台放开 -->
		<!--  			<a href="#home" class="navbar-brand">
					<small>
						<i class="fa fa-leaf">{{qdamName}}</i>
					</small>
				</a> -->
				
				<a  ng-show="showRole" href="" class="navbar-brand" ng-click="toWindControl()">
					<small>
						<i class="fa fa-leaf">量投风控平台</i>
					</small>
				</a>
				
				<!--<a href="#" class="navbar-brand">-->
					<!--<small> &lt;!&ndash; <i class="fa fa-leaf"></i> &ndash;&gt;-->
						<!--<img src="../pic/logo_index.png"-->
						<!--style="width: 32px; height: 32px;"> 全球交易系统-->
				<!--</small>-->
				<!--</a>-->
			</div>
			

			<div class="navbar-header pull-right logout">
			
				<span class="ace-icon fa fa-power-off red"></span>
				<a href="#home" onclick="logout()">退出</a>
			</div>
			<div class="navbar-header pull-right logout" style="width: 100px;">
				<span class="ace-icon fa fa-key red"></span>
				<a href="" ng-click="changePwd()" data-toggle="modal"
				   data-target="#indexPwdChangeModal">修改登录密码
				</a>
			</div>
			<div  class="navbar-header pull-right" style="width: 250px;margin-top: 18px;">
			所属机构： {{instShortName}}&nbsp;&nbsp; 欢迎&nbsp;{{userName}}&nbsp;登录
			</div>

			<!-- /section:basics/navbar.dropdown -->
			<!-- 密码修改  模态框（Modal） -->
			<div class="modal fade" id="indexPwdChangeModal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
				data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">修改密码</h4>
						</div>
						<div class="modal-body">
							<!-- 添加表单内容-->
							<form class="form-horizontal" role="form"
								name="indexPwdChangeForm" novalidate>
								<div class="form-group">
									<label for="password" class="col-sm-3 control-label">原密码<span
										style="color: red;">*</span></label>
									<div class="col-sm-8">
										<input type="password" class="input-style" id="password"
											placeholder="请输入原密码" ng-model="modalEntity.password"
											name="password" maxlength="20" required
											ng-change="isBlank(modalEntity)" onkeyup="kEvent(event,this)"
											onkeydown="myKeyup(event,this)" tab="1"> <span
											ng-show="indexPwdChangeForm.password.$dirty && indexPwdChangeForm.password.$invalid"
											style="color: red;">原密码为必填项</span>
									</div>
								</div>

								<div class="form-group">
									<label for="newPassword" class="col-sm-3 control-label">新密码<span
										style="color: red;">*</span></label>
									<div class="col-sm-8">
										<input type="password" class="input-style" id="newPassword"
											placeholder="请输入新密码" ng-model="modalEntity.newPassword"
											ng-change="isBlank(modalEntity)" name="newPassword"
											maxlength="20" required onkeyup="kEvent(event,this)"
											onkeydown="myKeyup(event,this)" tab="2"> <span
											ng-show="indexPwdChangeForm.newPassword.$dirty && indexPwdChangeForm.newPassword.$invalid"
											style="color: red;">新密码为必填项</span>
									</div>
								</div>

								<div class="form-group">
									<label for="pwdag" class="col-sm-3 control-label">确认新密码<span
										style="color: red;">*</span></label>
									<div class="col-sm-8">
										<input type="password" class="input-style" id="pwdag"
											placeholder="请输入确认新密码" ng-model="modalEntity.pwdag"
											ng-change="isBlank(modalEntity)" name="pwdag" maxlength="20"
											required onkeyup="kEvent(event,this)"
											onkeydown="myKeyup(event,this)" tab="3"> <span
											ng-show="indexPwdChangeForm.pwdag.$dirty && indexPwdChangeForm.pwdag.$invalid"
											style="color: red;">确认新密码为必填项</span>
									</div>
								</div>

							</form>
							<!--End  添加表单内容-->
						</div>
						<div class="modal-footer">
							<span class="btn btn-info btn-sm popover-info" data-rel="popover"
								data-placement="bottom" title="" ng-click="savePwd(modalEntity)"
								ng-disabled="indexPwdChangeForm.$invalid || pwdBlank">&nbsp;确定&nbsp;</span>
							<span class="btn btn-info btn-sm popover-info" data-rel="popover"
								data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</span>
						</div>
					</div>
				</div>
			</div>


		</div>
		<!-- /.navbar-container -->
	</div>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<!-- #section:basics/sidebar -->
		<div id="sidebar" class="sidebar responsive">
			<script type="text/javascript">
				try {
					ace.settings.check('sidebar', 'fixed')
				} catch (e) {
				}
			</script>


			<div class="menuScroller" style="OVERFLOW:auto;height: 800px;">
				<div class="sliderLeft">
					<a href="" ng-click="hideSidebar()"> << </a>
				</div>
			<!--菜单栏-->
			<ul class="nav nav-list">


<!-- 基础管理 -->

					<ul class="submenu">
                       <!-- 机构管理 -->
						<li class=""  ng-show="true"
							ng-click="addPane('测试','testController','windControl/test.html')">
							<a data-url="page/buttons" href="#instClient"> <i
								class="menu-icon fa fa-caret-right"></i> 测试
						</a> <b class="arrow"></b>
						</li>
							</ul>
						</li>
	
					
					<!-- FOF风控管理菜单 -->
					<!-- ng-show="menu.fofriskoperClientPositionQuery" -->
					<!-- <li class="" ng-show="menu.home3"><a href="#"
						class="dropdown-toggle"> <i class="icon-huilv"></i> <span
							class="menu-text">FOF风控管理</span> <b
							class="arrow fa fa-angle-down"></b>
					</a> <b class="arrow"></b>
						<ul class="submenu"> -->

							<!-- 信息查询 -->
							<!-- <li class=""><a href="#" class="dropdown-toggle"> <i
									class="icon-data"></i> <span class="menu-text">风控信息查询</span> <b
									class="arrow fa fa-angle-down"></b>
							</a> <b class="arrow"></b>
								<ul class="submenu">

									<li class=""
										ng-click="addPane('持仓查询','FofriskoperClientPositionController','FOFRisk/fofriskoperClientPosition.html')">
										<a data-url="page/buttons" href="#fofriskoperClientPosition">
											<i class="menu-icon fa fa-caret-right"></i> 持仓查询
									</a> <b class="arrow"></b>
									</li>
									
									<li class=""
										ng-click="addPane('委托查询','FofriskOperOrderController','FOFRisk/fofriskoperOrder.html')">
										<a data-url="page/buttons" href="#fofriskoperOrder">
											<i class="menu-icon fa fa-caret-right"></i> 委托查询
									</a> <b class="arrow"></b>
									</li>
									
									<li class=""
										ng-click="addPane('成交查询','FofriskOperTradeController','FOFRisk/fofriskoperTrade.html')">
										<a data-url="page/buttons" href="#fofriskoperTrade">
											<i class="menu-icon fa fa-caret-right"></i> 成交查询
									</a> <b class="arrow"></b>
									</li>
									
									<li class=""
										ng-click="addPane('资金查询','FofriskOperInvestorAccountController','FOFRisk/fofriskOperInvestorAccount.html')">
										<a data-url="page/buttons" href="#fofriskOperInvestorAccount">
											<i class="menu-icon fa fa-caret-right"></i> 资金查询
									</a> <b class="arrow"></b>
									</li>
									
								</ul>
							</li> -->
							
							<!-- 风控子节点 -->
							<!-- <li class=""><a href="#" class="dropdown-toggle"> <i
									class="icon-data"></i> <span class="menu-text">风控子节点配置</span> <b
									class="arrow fa fa-angle-down"></b>
							</a> <b class="arrow"></b>
								<ul class="submenu">

									<li class=""
										ng-click="addPane('机构配置','fofInstClientController','foffund/fofinstclient.html')">
										<a data-url="page/buttons" href="#fofinstclient">
											<i class="menu-icon fa fa-caret-right"></i> 机构配置
									</a> <b class="arrow"></b>
									</li>
									<li class=""
										ng-click="addPane('产品配置','fofFundProductController','foffund/foffundproduct.html')">
										<a data-url="page/buttons" href="#foffundproduct">
											<i class="menu-icon fa fa-caret-right"></i> 产品配置
									</a> <b class="arrow"></b>
									</li>
									<li class=""
										ng-click="addPane('风控子节点配置','fofRiskSubNodeController','foffund/fofrisksubnode.html')">
										<a data-url="page/buttons" href="#fofrisksubnode">
											<i class="menu-icon fa fa-caret-right"></i> 风控子节点配置
									</a> <b class="arrow"></b>
									</li>

								</ul>
							</li> -->

							<!-- 产品组风控 -->
							<!-- <li class=""><a href="#" class="dropdown-toggle"> <i
									class="icon-data"></i> <span class="menu-text">产品组风控</span> <b
									class="arrow fa fa-angle-down"></b>
							</a> <b class="arrow"></b>
								<ul class="submenu">

									<li class=""
										ng-click="addPane('产品组配置','fofFundGroupController','foffund/foffundgroup.html')">
										<a data-url="page/buttons" href="#foffundgroup">
											<i class="menu-icon fa fa-caret-right"></i> 产品组配置
									</a> <b class="arrow"></b>
									</li>

								</ul>
							</li> -->
                            <!-- 风控预警监控 -->
							<!-- <li class="" ng-click="addPane('风控预警','testController','FOFRisk/fofriskPrewarn.html')">
							       <a data-url="page/buttons" href="#fofriskPrewarn">
											<i class="icon-data"></i> <span class="menu-text"> 风控预警查询</span>
									</a> <b class="arrow"></b>
                            </li>


						</ul>
					</li> -->

			</ul>
			<!-- /.nav-list -->

			<!-- /section:basics/sidebar.layout.minimize -->
			<script type="text/javascript">
				try {
					ace.settings.check('sidebar', 'collapsed')
				} catch (e) {
				}
			</script>
		</div>
		</div>
		<div id="hideSideBar" class="hideSideBar">
			<a href="" ng-click="showSidebar()"> >> </a>
		</div>
		<!-- /section:basics/sidebar -->
		<div class="main-content" id="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->


				<div class="page-content">
					<tabs> <pane
						ng-repeat="pane in panes | filter:{includedInTabView:true}"
						tab-title="{{pane.name}}" controller="{{pane.controller}}"
						template="{{pane.partial}}"> </pane> </tabs>
					<div class="page-content-area" data-ajax-content="false"></div>
					<input type="hidden" ng-model="modelFlag" />
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner" id="footer-inner">
				<!-- #section:basics/footer -->
				<div class="footer-content">
					<span class="bigger-120"> <small><span
							class="blue bolder">全球交易系统-v1.1-160812</span></small> <small>&copy; Copyright
							2016 <a href="http://www.quantdo.com.cn" target="_blank">quantdo.com.cn</a>
							Inc. All Rights Reserved.
					</small>
					</span>
				</div>

				<!-- /section:basics/footer -->
			</div>
		</div>

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->
	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery
				|| document
						.write("<script src='../framework/ui-ace/assets/js/jquery.js'>"
								+ "<" + "/script>");
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='../framework/ui-ace/assets/js/jquery1x.js'>" + "<" + "/script>");
</script>
<![endif]-->

	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement)
			document
					.write("<script src='../framework/ui-ace/assets/js/jquery.mobile.custom.js'>"
							+ "<" + "/script>");
	</script>
	<script src="../framework/ui-ace/assets/js/bootstrap.js"></script>
	<script
		src="../framework/ui-ace/assets/js/date-time/bootstrap-datepicker.js"></script>
	<script
		src="../framework/ui-ace/assets/js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>
	<script
		src="../framework/ui-ace/assets/js/date-time/bootstrap-timepicker.js"></script>
		
	<script src="../framework/libraries/my97DatePicker/WdatePicker.js"></script>

	<!-- jquery datatables -->
	<script
		src="../framework/ui-ace/assets/js/dataTables/jquery.dataTables.js"></script>
	<script
		src="../framework/ui-ace/assets/js/dataTables/jquery.dataTables.bootstrap.js"></script>
	<script
		src="../framework/ui-ace/assets/js/dataTables/extensions/TableTools/js/dataTables.tableTools.js"></script>
	<script
		src="../framework/ui-ace/assets/js/dataTables/extensions/ColVis/js/dataTables.colVis.js"></script>
	<!-- end jquery datatables -->

	<!-- angularjs -->
	<script src="../framework/libraries/angular/1.4.3/angular.min.js"></script>
	<script src="../framework/libraries/angular/1.4.3/angular-route.min.js"></script>
	<script
		src="../framework/libraries/angular/directives/datatables/angular-datatables.min.js"></script>
	<!--fixed column-->
	<script
		src="../framework/libraries/angular/directives/datatables/dataTables.fixedColumns.js"></script>
	<script
		src="../framework/libraries/angular/directives/datatables/angular-datatables.fixedcolumns.min.js"></script>
	<script src="../framework/libraries/isjs/is.min.js"></script>

	<!-- jquery upload file -->
	<script src="../framework/libraries/jquery/jquery.form/jquery.form.js"></script>
	<script
		src="../framework/libraries/jquery/upload-file/jquery.uploadfile.min.js"></script>
	<link rel="stylesheet"
		href="../framework/libraries/jquery/upload-file/uploadfile.custom.css" />
	<link rel="stylesheet"
		href="../framework/libraries/jquery/upload-file/uploadfile.css" />


	<!-- angular upload file -->
	<script
		src="../framework/libraries/angular/ng-file-upload-master/ng-file-upload-shim.min.js"></script>
	<script
		src="../framework/libraries/angular/ng-file-upload-master/ng-file-upload.min.js"></script>

	<!-- 弹框组件 -->
	<script src="../framework/ui-ace/assets/js/layer/layer.js"></script>

	<script src="../framework/libraries/framework.js"></script>
	<script src="../framework/libraries/util/Namespace.js"></script>
	<script src="../config.js"></script>



	<!--业务常量定义-->
	<script src="../constants.js"></script>
	<!-- 登录检查 -->
	<script src="../service/LogonCheckService.js"></script>
	<!-- ztree  -->
	<script src="../framework/libraries/ztree/js/jquery.ztree.core-3.5.js"></script>
	<script
		src="../framework/libraries/ztree/js/jquery.ztree.excheck-3.5.js"></script>
	

	<!--tab-->

	<script
		src="../framework/libraries/angular/directives/angularjsTab/angular-ajax-tabs.js"></script>
	<script src="../app.js"></script>

	<!--Home-->
	<script src="./home.js"></script>
	<!--Home-->
	<script src="./index.js"></script>

	<!-- controller js -->
	<script src="./blank/blank.js"></script>
	<script src="./table/tables.js"></script>
	<script src="./file/file.js"></script>

	<!-- service js -->
	<script src="../service/TestService.js"></script>

 <script src="../pages/windControl/test.js"></script>
    <script src="../service/RiskStromDataService.js"></script>
    
	<!--角色管理-->
	<script src="./user/roleManage.js"></script>
	<script src="../service/RoleManageService.js"></script>

	<!--用户管理-->
	<script src="./user/userManage.js"></script>
	<script src="../service/UserManageService.js"></script>
	
	<!--用户关联账号-->
	<script src="./user/accountLink.js"></script>
	<script src="../service/AccountLinkService.js"></script>

    <!--用户关联产品-->
	<script src="./product/productLink.js"></script>
	<script src="../service/UserFundProductService.js"></script>

	<!--交易导入-->
	<script src="./upload/upload.js"></script>
	<script src="../service/UploadService.js"></script>

	<!--成交维护-->
	<script src="../service/TradeService.js"></script>
	<script src="./dailysettle/trade.js"></script>
	<!--成交维护-->
	<script src="./dailysettle/capTrade.js"></script>

	<!--资产单元开户-->
	<script src="./account/traderReg.js"></script>
	<script src="../service/TraderRegService.js"></script>

	<!--资产单元开户-->
	<script src="./account/subCapitalAccountReg.js"></script>
	<script src="../service/SubCapitalAccountRegService.js"></script>

	<!--资产单元资料维护-->
	<script src="./account/trader.js"></script>
	<script src="../service/TraderService.js"></script>

	<!--资金账户维护-->
	<script src="./account/capitalAccount.js"></script>
	<script src="../service/CapitalAccountService.js"></script>

	<!--账户分组管理-->
	<script src="./account/accountGroup.js"></script>
	<script src="../service/AccountGroupService.js"></script>

	<!--银行账户管理-->
	<script src="./settleparam/bankAccount.js"></script>
	<script src="../service/BankAccountService.js"></script>

	<!--质押管理-->
	<script src="./settleparam/mortMoney.js"></script>
	<script src="../service/MortMoneyService.js"></script>


	<!--资产单元管理-->
	<script src="./account/subCapitalAccount.js"></script>
	<script src="../service/SubCapitalAccountService.js"></script>

	<!--资产分类管理-->
    <!-- <script src="./windControl/assetGroup.js"></script>
	<script src="../service/RiskStromDataService.js"></script> -->

    <!--证券附加信息导入-->
  <!--   <script src="./windControl/stockAddInformationImport.js"></script>
	<script src="../service/StockAddInformationImportService.js"></script> -->

    <!--默认证券品种费率设置-->
  <!--   <script src="./feeset/defaultStockProductFeeSet.js"></script>
	<script src="../service/DefaultStockProductFeeSet.js"></script> -->
    <!--证券品种费率-->
   <!--  <script src="./feeset/stockProductFeeSet.js"></script>
	<script src="../service/StockProductFeeSet.js"></script> -->

	<!--分组管理-->
	<script src="./account/subAccountGroup.js"></script>
	<script src="../service/SubAccountGroupService.js"></script>

	<!--交易用户管理-->
	<script src="./account/tradeUser.js"></script>
	<script src="../service/TradeUserService.js"></script>

	<!--会员管理-->
	<script src="./account/member.js"></script>
	<script src="../service/MemberService.js"></script>

	<!--用户交易员关系管理-->
	<script src="./account/userTrader.js"></script>
	<script src="../service/UserTraderService.js"></script>

	<!--交易客户管理-->
	<script src="./account/exchClient.js"></script>
	<script src="../service/ExchClientService.js"></script>

	<!--单边产品组管理-->
	<script src="./combmargin/singleEdgeProductGroup.js"></script>
	<script src="../service/SingleEdgeProductGroupService.js"></script>

	<!-- 资产单元模板关系 -->
	<script src="../service/SubAccountTemplateService.js"></script>
	<!--不参与单边合约管理-->
	<script src="./combmargin/notSingleEdgeInstrument.js"></script>
	<script src="../service/NotSingleEdgeInstrumentService.js"></script>

	<!--配资管理-->
	<script src="./settleparam/withFunding.js"></script>
	<script src="../service/WithFundingService.js"></script>

	<!--账户资金管理-->
	<script src="../service/AccountCapitalService.js"></script>
	<script src="./capital/accountCapital.js"></script>

	<!--汇率管理-->
	<script src="./settleparam/exchangeRate.js"></script>
	<script src="../service/ExchangeRateService.js"></script>

	<!--经纪公司管理-->
	<script src="./account/brokerageFirm.js"></script>
	<script src="../service/BrokerageFirmService.js"></script>

	<!--基金产品管理-->
	<script src="./product/fundProduct.js"></script>
	<script src="../service/FundProductService.js"></script>

    <!--资产单元产品管理-->
	<script src="./product/fixedIncomeSet.js"></script>
	<script src="../service/FixedIncomeSetService.js"></script>

    <!--其他权益管理-->
	<script src="./product/otherIncomeSet.js"></script>
	<script src="../service/OtherIncomeSetService.js"></script>


	<!--出入金管理-->
	<script src="./settleparam/tmpMoneyIO.js"></script>
	<script src="../service/TmpMoneyIOService.js"></script>

	<!--出入金复核-->
	<script src="./settleparam/moneyIORecheck.js"></script>

	<!--子资金出入金管理-->
	<script src="./settleparam/subMoneyIO.js"></script>
	<script src="../service/SubMoneyIOService.js"></script>

	<!--出入金流水查询-->
	<script src="./settleparam/moneyIO.js"></script>
	<script src="../service/MoneyIOService.js"></script>

	<!--品种管理-->
	<script src="./tradeparam/product.js"></script>
	<script src="../service/ProductService.js"></script>

	<!--结算参数管理-->
	<script src="./settleparam/settleParamInfo.js"></script>
	<script src="../service/SettleParamService.js"></script>

	<!--合约管理-->
	<script src="./tradeparam/instrument.js"></script>
	<script src="../service/InstrumentService.js"></script>

	<!--期权系列管理-->
	<script src="./tradeparam/optionSeries.js"></script>
	<script src="../service/OptionSeriesService.js"></script>

	<!--交易通道管理-->
	<script src="./account/seat.js"></script>
	<script src="../service/SeatService.js"></script>
	
	<!--资金账户导入-->
    <script src="./upload/uploadFund.js"></script>
    <!--客户持仓导入-->
    <script src="./upload/uploadHoldDate.js"></script>

	<!--结算价管理-->
	<script src="./tradeparam/settlePrice.js"></script>
	<script src="../service/SettlePriceService.js"></script>

	<!--默认保证金设置(期货)-->
	<script src="./marginset/futures/defaultMarginSet.js"></script>
	<script src="../service/DefaultMarginSetService.js"></script>

	<!--产品保证金设置(期货)-->
	<script src="./marginset/futures/productMarginSet.js"></script>
	<script src="../service/ProductMarginSetService.js"></script>

	<!--合约保证金设置(期货)-->
	<script src="./marginset/futures/instrumentMarginSet.js"></script>
	<script src="../service/InstrumentMarginSetService.js"></script>



	<!--默认保证金设置(期权)-->
	<script src="./marginset/option/defaultMarginSet.js"></script>
	<script src="../service/DefaultMarginSetService.js"></script>

	<!--产品保证金设置(期权)-->
	<script src="./marginset/option/productMarginSet.js"></script>
	<script src="../service/ProductMarginSetService.js"></script>

	<!--合约保证金设置(期权)-->
	<script src="./marginset/option/instrumentMarginSet.js"></script>
	<script src="../service/InstrumentMarginSetService.js"></script>


	<!--默认手续费设置-->
	<script src="./feeset/defaultFeeSet.js"></script>
	<script src="../service/DefaultFeeSetService.js"></script>

	<!--产品手续费设置-->
	<script src="./feeset/productFeeSet.js"></script>
	<script src="../service/ProductFeeSetService.js"></script>

	<!-- 手续费模板 -->
	<script src="./feeset/feeTemplate.js"></script>
	<script src="../service/FeeTemplateService.js"></script>
	<script src="../service/FeeTemplateProductService.js"></script>

	<!-- 客户资金帐号对应模板 -->
	<script src="./marginset/subAccountTemplate.js"></script>
	<script src="../service/SubAccountTemplateService.js"></script>

	<!--合约手续费(期货)-->
	<script src="./feeset/futures/instrumentFeeSet.js"></script>
	<script src="../service/InstrumentFeeSetService.js"></script>

	<!--合约手续费(期权)-->
	<script src="./feeset/option/instrumentFeeSet.js"></script>
	<script src="../service/InstrumentFeeSetService.js"></script>


	<!--资产单元产品手续费-->
	<script src="./feeset/subProductFeeSet.js"></script>
	<script src="../service/SubProductFeeSetService.js"></script>

	<!--资产单元合约手续费-->
	<script src="./feeset/subInstrumentFeeSet.js"></script>
	<script src="../service/SubInstrumentFeeSetService.js"></script>

	<!--默认合约保证金-->
	<script src="./marginset/defaultInstrumentMarginSet.js"></script>
	<script src="../service/DefaultInstrumentMarginSetService.js"></script>

	<!--资产单元产品保证金-->
	<script src="./marginset/subProductMarginSet.js"></script>
	<script src="../service/SubProductMarginSetService.js"></script>

	<!--品种保证金模板-->
	<script src="../service/MarginTemplateProductService.js"></script>

	<!--保证金模板-->
	<script src="./marginset/marginTemplate.js"></script>
	<script src="../service/MarginTemplateService.js"></script>


	<!--资产单元合约保证金-->
	<script src="./marginset/subInstrumentMarginSet.js"></script>
	<script src="../service/SubInstrumentMarginSetService.js"></script>

	<!--标的指数收盘价-->
	<script src="./settleparam/underlyingPrice.js"></script>
	<script src="../service/UnderlyingPriceService.js"></script>

	<!--日终结算-->
	<script src="./dailysettle/dailySettle.js"></script>
	<script src="../service/DailySettleService.js"></script>

	<!--资金结算-->
	<script src="./dailysettle/moneySettle.js"></script>

	<!--结算回退-->
	<script src="./dailysettle/settleRollback.js"></script>

	<!--上场数据生成-->
	<script src="./dailysettle/dataToTrade.js"></script>
	<script src="../service/DataToTradeService.js"></script>

	<!--交易所信息维护-->
	<script src="./tradeparam/exchange.js"></script>
	<script src="../service/ExchangeService.js"></script>
	<!--运行监控  runMonitor-->
	<script src="./monitor/runMonitor.js"></script>
	<script src="../service/RunMonitorService.js"></script>
	<!--Begin查询类业务-->

	<script src="../service/CommonQueryService.js"></script>
	<!--到期合约持仓查询-->
	<script src="./query/dueSubPositionQuery.js"></script>
	<!--资产单元资金查询-->
	<script src="./query/subAccountCapital.js"></script>
	<!--账户资金查询-->
	<script src="./query/accountCapital.js"></script>
	<!--账户持仓查询-->
	<script src="./query/position.js"></script>
	<!--资产单元持仓查询-->
	<script src="./query/subPosition.js"></script>
	<!--客户实时持仓查询-->
	<script src="./query/operClientPositionQuery.js"></script>
	<script src="../service/OperClientPositionService.js"></script>
	<!--客户实时成交查询-->
	<script src="./query/operTrade.js"></script>
	<script src="../service/OperTradeService.js"></script>
	<!--客户实时错单查询-->
	<script src="./query/operOrderInsertFailed.js"></script>
	<script src="../service/OperOrderInsertFailedService.js"></script>
	<!--客户实时委托查询-->
	<script src="./query/operOrder.js"></script>
	<script src="../service/OperOrderService.js"></script>  
	<!--客户历史委托查询-->
	<script src="./his/hisOrder.js"></script>
	<script src="../service/HisOrderService.js"></script>
	
	<!--客户历史成交查询-->
	<script src="./his/hisTrade.js"></script>
	<script src="../service/HisTradeService.js"></script>
	
	<!--历史净值查询-->
	<script src="./his/hisFundNetValue.js"></script>
	<script src="../service/HisFundNetValueService.js"></script>
	<!--历史资金查询-->
	<script src="./his/hisInvestorAccount.js"></script>
	<script src="../service/HisInvestorAccountService.js"></script>
	
	
	
	
	<!--客户实时账户资金查询-->
	<script src="./query/operInvestorAccountQuery.js"></script>
	<script src="../service/OperInvestorAccountService.js"></script>
	<!--客户实时账户资金查询-->
	<script src="./query/operInvestorAccountQuery.js"></script>
	<script src="../service/OperInvestorAccountService.js"></script>
	<!-- 实时资产汇总 -->
	<script src="./query/operAssetSummary.js"></script>
	<script src="../service/OperAssetSummaryService.js"></script>
	<!--成交查询-->
	<script src="./query/tradeQuery.js"></script>
	<!--查询系统操作员信息-->
	<script src="../service/SystemParamService.js"></script>
	<!-- 设置资产单元参数 -->
	<script src="./userriskparameter/userriskparameter.js"></script>
	<script src="../service/SubAccountRiskParamService.js"></script>
	<script src="../service/AccountTradeComplianceService.js"></script>

	<!-- 设置资产单元参数 -->
	<script src="./userriskparameter/userriskparameterfof.js"></script>
	<!-- 设置资产单元限制交易的交易品种 -->
	<script src="./userriskvariety/userriskvariety.js"></script>
	<script src="../service/SubCapitalAccountTradingLimitService.js"></script>
	<script src="./newUserriskvariety/newUserriskvariety.js"></script>
	<script src="./newUserriskvariety/newUserriskvarietyfof.js"></script>

	<!-- 日账单查询 -->
	<script src="./billquery/billquery.js"></script>
	<script src="../service/SubAccountCapitalService.js"></script>
	<script src="../service/SubPositionDetailService.js"></script>

	<!-- 交易员管理 -->
	<script src="./tradermanage/tradermanage.js"></script>

	<!-- 交易员管理 -->
	<script src="./tradermanage/tradermanagefof.js"></script>

	<!-- 风控员管理 -->
	<script src="./windcontrolmanage/windcontrolmanage.js"></script>
	<!-- 风控员管理 -->
	<script src="./windcontrolmanage/windcontrolmanagefof.js"></script>
	
	<!-- 工作流设置 -->
	<script src="./account/workFlowSet.js"></script>
	<script src="../service/WorkFlowSetService.js"></script>

	<!-- 杠杆基数设置 -->
	<script src="./account/leverage.js"></script>
	<script src="../service/LeverageService.js"></script>

	<!--  -->
	<script src="../service/UserAccountGroupService.js"></script>
	<script src="../service/UserAccountService.js"></script>

	<!-- 操作员管理 -->
	<script src="./operationalmanage/operationalmanage.js"></script>
	<!-- 实时资金查询 -->
	<script src="./query/realTimeAccountQuery.js"></script>
	<script src="../service/OperInvestorAccountService.js"></script>

	<!-- 机构管理 -->
	<script src="./account/instClient.js"></script>
	<script src="../service/InstClientService.js"></script>
	<script src="../service/InstAdminService.js"></script>
	
	<!-- 产品级风控 -->
	<script src="./riskparam/fundProductRiskParam.js"></script>
	<script src="../service/FundProductRiskParamService.js"></script>
	
	<!-- 产品级风控界面 -->
	<script src="./riskparam/riskControl.js"></script>
	<script src="../service/RiskWarnResultService.js"></script>
	
	<!-- 资金账户级风控 -->
	<script src="./riskparam/capitalRiskParam.js"></script>
	<!-- 资金账户级风控 -->
	<script src="./riskparam/subCapitalRiskParam.js"></script>
	
	<!-- -------------------------------------fof子节点菜单js--------------------------------------------------- -->
    <!-- FOFRisk风控管理 -->
    
    <script src="../service/FundProductRisknodeService.js"></script>
    <!-- 母基金机构配置 -->
    <script src="./foffund/fofinstclient.js"></script>
    <script src="../fofservice/FOFInstClientService.js"></script>
   
    <!-- 产品配置 -->
    <script src="./foffund/foffundproduct.js"></script>
    <script src="../fofservice/FOFFundProductService.js"></script>
   
    <!-- 风控子节点配置 -->
    <script src="./foffund/fofrisksubnode.js"></script>
    <script src="../fofservice/FOFRiskSubNodeService.js"></script>
    
    <!-- 风控产品组 -->
    <script src="./foffund/foffundgroup.js"></script>
    <script src="../fofservice/FOFFundGroupService.js"></script>
    <script src="../fofservice/FOFRiskFundGroupWithFundProductService.js"></script>
    <script src="../fofservice/FOFRiskFundGroupNetRiskParamService.js"></script>
    <script src="../fofservice/FOFRiskProductProvisionParamService.js"></script>
   
   <!-- FOFRisk风控管理     信息查询-->
     <!-- 持仓查询 -->
    <script src="./FOFRisk/fofriskoperClientPosition.js"></script>
    <script src="../fofservice/FOFriskoperClientPositionService.js"></script>
    <!-- 委托查询 -->
    <script src="./FOFRisk/fofriskoperOrder.js"></script>
    <script src="../fofservice/FOFriskoperOrderService.js"></script>
    <!-- 成交查询 -->
    <script src="./FOFRisk/fofriskoperTrade.js"></script>
    <script src="../fofservice/FOFriskoperTradeService.js"></script>
    <!-- 资金查询 -->
    <script src="./FOFRisk/fofriskOperInvestorAccount.js"></script>
    <script src="../fofservice/FOFriskOperInvestorAccountService.js"></script>
    <!-- 风控参数查询 -->
    
     <!-- 风控预警信息 -->
    <script src="./FOFRisk/fofriskPrewarn.js"></script>
    <script src="../fofservice/FOFRiskPrewarnService.js"></script>
	

	<!--End查询-->
	<!-- end controller js -->
	<!-- directives -->
	<!--<script src="./directives/datatable.js"></script>-->

	<!-- ace scripts -->
	<script src="../framework/ui-ace/assets/js/ace/elements.scroller.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.colorpicker.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.fileinput.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.typeahead.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.wysiwyg.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.spinner.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.treeview.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.wizard.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/elements.aside.js"></script>
	<script src="../framework/ui-ace/assets/js/ace.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.ajax-content.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.touch-drag.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.sidebar.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.sidebar-scroll-1.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.submenu-hover.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.widget-box.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.settings.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.settings-rtl.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.settings-skin.js"></script>
	<script src="../framework/ui-ace/assets/js/ace/ace.widget-on-reload.js"></script>
	<script
		src="../framework/ui-ace/assets/js/ace/ace.searchbox-autocomplete.js"></script>

	<script src="../framework/ui-ace/assets/js/bootstrap-multiselect.js"></script>
	<script src="../framework/libraries/angularjs-dropdown-multiselect.js"></script>
	<!-- <script src="../framework/libraries/angular/directives/datatables/dataTables.scroller.js"></script>
<script src="../framework/libraries/angular/directives/datatables/angular-datatables.scroller.min.js"></script> -->
	<script src="../framework/libraries/lodash.js"></script>
	<script src="../framework/libraries/highchart/highcharts.js"></script>


</body>
</html>
