<link rel="stylesheet" href="dailysettle/trade.css" />
<div class="row" ng-controller="tradeController">
	<!-- start 定义表单查询-->
	 <form class="form-12">
        <div class="row">
            <div class=col-xs-12>
                <div class="alert alert-success" ng-show="resultInfo">成交单维护保存成功!</div>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="row-col-one">
                    <label class="word-style">结算开始日期</label>
                       <input class="Wdate value-style word-style"  onchange=""   onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyyMMdd'})"  type="text"  
						ng-readonly="true" ng-model="queryEntity.startDate" />
            </div>
            <div class="row-col-one">
                    <label class="word-style">结算结束日期</label>
                        <input class="Wdate value-style word-style"  onchange=""   onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyyMMdd'})" type="text"  
						 ng-readonly="true" ng-model="queryEntity.endDate" />
            </div> -->
            
            <div class="row-col-one">
            	<label class="word-style">查询维度</label>
                <select ng-change="find(queryEntity)" ng-model="queryEntity.type" class="value-style" 
                	ng-options="op.key as op.text for op in tradeSearchTypes"></select>
            </div>

            <div class="row-col-one" ng-show="queryEntity.type == '1' || queryEntity.type == '4'">
            	<label class="word-style">资产单元</label>
                <select ng-model="queryEntity.traderID" name="traderID"
					class="value-style">
					<option value="">全部</option>
					<option ng-repeat="trader in traders" value="{{trader.traderID}}">{{trader.traderID}}_{{trader.traderName}}</option>
				</select>
            </div>
            
            <div class="row-col-one" ng-show="queryEntity.type != '4'">
                <label class="word-style">资金账号</label>
                <input type="text" class="value-style"
					placeholder="请输入资金账号" ng-model="queryEntity.innerAccountID" name="innerAccountID"  >
            </div>
            <div class="row-col-one">
            	<label class="word-style">成交编号</label>
                <input class="value-style"
					ng-model="queryEntity.originTradeID" type="text"
					placeholder="请输入成交编号" />
            </div>
            <!-- <div class="row-col-one">
                    <label class="word-style">策略代码</label>
                       <select ng-model="queryEntity.strategyID" class="value-style" name="strategyID"
						ng-options="op.strategyID as op.strategyID+'_'+op.strategyAbbrName for op in strategys" >
						  <option value="">全部</option>
					   </select>
            </div>
            <div class="row-col-one">
                    <label class="word-style">策略批次</label>
                      	<input class="value-style"
						ng-model="queryEntity.strategyBatch" type="text"
						placeholder="请输入策略批次" />
            </div> -->
            <div class="row-col-one">
            	<label class="word-style">交易所</label>
               	<select ng-model="queryEntity.exchangeId" class="value-style"
                   	ng-change="selectExchange(queryEntity.exchangeId)"
					ng-options="op.exchID as op.exchID+'_'+op.exchName for op in exchangeDatas">
					<option value="">全部</option>
				</select>
            </div>
            <div class="row-col-one">
                <label class="word-style">品种代码</label>
                    <select ng-model="queryEntity.productID" name="productID"
					class="value-style">
					<option value="">全部</option>
					<option ng-repeat="product in productDatas"
						value="{{product.productID}}">
						{{product.productID}}_{{product.productName}}</option>
			    </select>
            </div>
           
            <div class="row-col-one">
            	<label class="word-style">合约代码</label>
               	<input class="value-style"
					ng-model="queryEntity.instrumentId" type="text"
					placeholder="请输入合约代码" />
            </div>
           
            <div class="row-col-one">
            	<label class="word-style">买卖</label>
                <select ng-model="queryEntity.direction" name="direction"
					class="value-style">
					<option value="">全部</option>
					<option ng-repeat="trader in tradeDirections" value="{{trader.key}}">{{trader.text}}</option>
				</select>        
            </div>
            
            <div class="row-col-one">
            	<label class="word-style">开平标志</label>
                <select ng-model="queryEntity.offsetFlag" class="value-style" ng-options="op.key as op.text for op in offsetFlagQuery" >
					<option value="">全部</option>
				</select>
            </div>
            
            <div class="row-col-one">
            	<label class="word-style">成交开始时间</label>
                <input class="value-style word-style time"  onchange="" type="text" id="trade_startTradeingTime" value="00:00" />
            </div>
            
            <div class="row-col-one">
            	<label class="word-style">成交结束时间</label>
                <input class="value-style word-style time"  onchange="" type="text" id="trade_endTradeingTime" value="23:59" />
            </div>
            
            <div class="row-col-one" ng-show="queryEntity.type == '1'">
            	<label class="word-style">下单通道</label>
                <select ng-model="queryEntity.tradeSrc" class="value-style" ng-options="op.key as op.text for op in tradeSrcs" >
					<option value="">全部</option>
				</select>
            </div>
        </div>
        <div class="btn-beyond-one-row" >
      		<button type="button" class="btn btn-query btn-word-two"  ng-click="find(queryEntity)" ng-show="trade_query"> 查询</button>
      		<button type="button" class="btn btn-reset btn-word-two"  ng-click="addTradeAuto()" ng-show="trade_addAuto"> 自动匹配</button>
      		<a class="tradeTip" ng-show="trade_addAuto" title="自动匹配只能对资金账户和资产单元是一对一关系的成交单进行自动匹配。"></a>
    	</div>
    			
    	<div class="row-form row-btn-operation">
    		<div class="row-btn-icon" ng-show="trade_add">
                <span class="btn-add-icon"></span>
				<button class="btn btn-add btn-icon-two" ng-click="initParameter()" data-toggle="modal" data-target="#tradeInsertModal">新增</button>
			</div>
			<div class="row-btn-icon" ng-show="trade_addQuery && queryEntity.type == '3' && !showResult">
                <!-- <span class="btn-add-icon"></span> -->
				<button class="btn btn-add btn-icon-two" ng-click="initBulkParameter()" style="padding-left:20px;"
					data-toggle="modal">批量维护</button>
			</div>
			<div class="row-btn-icon" ng-show="trade_bulkUpdate && queryEntity.type == '1' && !showResult">
                <!-- <span class="btn-add-icon"></span> -->
				<button class="btn btn-add btn-icon-two" ng-click="initBulkUpdateParameter()" style="padding-left:20px;"
					data-toggle="modal">批量修改</button>
			</div>
			<button type="button" class="btn btn-reset btn-word-two" ng-show="trade_export && queryEntity.type == '3' && !showResult" ng-click="exportExcelBulkTrade()" >导出excel</button>
			<a class="tradeTip" ng-show="trade_export && queryEntity.type == '3' && !showResult" title="导出的结果中，资产单元，交易员必填且只能填该资金账号关联的资产单元 ；&#10;填写完毕后可通过导入功能导入此文件。"></a>
			<input type="button" data-toggle='modal' data-target="#tradeUploadModal" ng-show="trade_upload && queryEntity.type == '3' && !showResult" class="btn btn-reset btn-word-two" value="导入" >
        </div>
            <!-- <div class="col-xs-3" >
                <div class="form-group button-left-style">
                    <button class="btn btn-success" id="bootbox-options1" ng-click="find(queryEntity)" ng-disabled="isQuery">查询</button>
                </div>
            </div> -->
    </form>
	<!--End 表单查询 -->

	<!-- PAGE CONTENT STARTS -->
	<div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div>
                    <table id="trade_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
	<!-- <div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
			<div class="col-xs-12">
				<button class="btn btn-success" id="bootbox-options"
					ng-click="initParameter()" data-toggle="modal"
					data-target="#tradeInsertModal">新增</button>
					</div>
				&nbsp;&nbsp;
				<button class="btn btn-success" id="bootbox-upload"
					ng-click="initUpload()" data-toggle="modal"
					data-target="#uploadModal">成交导入</button>
				<div class="clearfix">
					<div class="pull-right tableTools-container"></div>
				</div>
				<div>
					<table id="dynamic-table"
						class="cell-border stripe"
						datatable="ng">
						<thead>
							<tr>
								<th class="center"><label class="pos-rel"> <span
										class="ace" /> <span class="lbl"></span>
								序号</label></th>
								<th class="hidden-180">结算日期</th>
								<th class="hidden-180">成交编号</th>
								<th class="hidden-180">成交编号</th>
								<th class="hidden-480">资产单元</th>
								<th class="hidden-180">交易所代码</th>
								<th class="hidden-180">所属机构</th>
								<th class="hidden-480">品种代码</th>
								<th class="hidden-480">合约代码</th>
								<th class="hidden-480">买卖方向</th>
								<th class="hidden-480">开平标志</th>
								<th class="hidden-480">投保标志</th>
								<th class="hidden-480">成交价格</th>
								<th class="hidden-480">成交数量</th>
								<th class="hidden-480">交易手续费</th>
								<th class="hidden-480">经纪交易手续费</th>
								<th class="hidden-480">下单通道</th>
								<th class="hidden-480">成交日期</th>
								<th class="hidden-480">成交时间</th>
								<th class="hidden-480">录入成功标识</th>
								<th class="hidden-480">录入结果信息</th>
								 <th>操作</th> 
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="listEntity in listEntitys">
								<td class="center">{{($index+1)}}</td>
								<td ng-bind="listEntity.tradeDate"></td>
								<td class="hidden-480">{{listEntity.tradeId}}</td>
								<td class="hidden-480">{{listEntity.originTradeID}}</td>
								<td ng-bind="listEntity.investorId"></td>
								<td>{{listEntity.exchangeId}}</td>
								<td>{{transInstClient(listEntity.instClientID)}}</td>
								<td class="hidden-480" ng-bind="listEntity.productID"></td>
								<td class="hidden-480" ng-bind="listEntity.instrumentId"></td>
								<td class="hidden-480"><span
									ng-if="listEntity.direction=='0'">买</span> <span
									ng-if="listEntity.direction=='1'">卖</span></td>
								<td class="hidden-480">{{transOffSetFlags(listEntity.offsetFlag)}}</td>
								<td class="hidden-480">{{transTradeTypes(listEntity.hedgeFlag)}}</td>
								<td class="hidden-480">{{listEntity.tradePrice | number:3}}</td>
								<td class="hidden-480">{{listEntity.volume | number:0}}</td>
								<td class="hidden-480">{{listEntity.tradeFee | number:2}}</td>
								<td class="hidden-480">{{listEntity.brokerTradeFee | number:2}}</td>
								<td class="hidden-480"><span
									ng-if="listEntity.tradeSrc=='1'">批量导入</span> <span
									ng-if="listEntity.tradeSrc=='2'">手工录入</span></td>
								<td class="hidden-480">{{listEntity.tradeingDate}}</td>
								<td class="hidden-480">{{listEntity.tradeingTime}}</td>
									<td class="hidden-480"><span
									ng-if="listEntity.errorCode=='0'">成功</span> <span
									ng-if="listEntity.errorCode==undefined "> </span> 
									 <span ng-if=" listEntity.errorCode=='99' ">待交易处理 </span><span
									 ng-if="listEntity.errorCode!=undefined  && listEntity.errorCode!='99' && listEntity.errorCode!='0' ">失败 </span></td>
								
								<td class="hidden-480">{{listEntity.errorCode}} {{listEntity.errorMsg}}</td>
								 <td class="hidden-480">
									<div>
										<input type="hidden" ng-bind="listEntity.productID">
									</div>
									<div>
										<input type="hidden" ng-bind="listEntity.recordIndex">
									</div>
									<div class="hidden-sm hidden-xs action-buttons" ng-show ="! listEntity.isOtcTrade" >
										<a class="blue"
										    ng-click="initUpdateParam(listEntity,$index)"
											style="cursor:pointer"
											data-toggle="modal" >[修改]</a> 
										<a class="blue"
											ng-click="remove(listEntity,$index)"
											style="cursor:pointer" >[删除]</a> 
										
									</div>
								</td> 
							</tr>

						</tbody>
					</table>

				</div>

			</div>
		</div>

	</div> -->
	<!-- PAGE CONTENT ENDS -->
	<!-- /.col -->

	<!-- 新增 修改 模态框（Modal） -->
	<div class="modal fade" id="tradeInsertModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-width">
			<div class="modal-content modal-width">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">交易信息维护</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" name="myForm" novalidate>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">基本信息</h3>
							</div>
							<div class="panel-body">
							    <div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">是否实时上场</label>
											<div class="col-xs-6">
												<select class="" ng-model="ModalEntity.isTrade"   ng-disabled="isUpdate"
												name="isTrade"
													ng-options="op.key as op.text for op in isNotDatas"></select>
											</div>
								        </div>
								     </div>
								     
								    <div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">机构代码<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<select ng-model="ModalEntity.instClientID" name="instClientID" ng-disabled=" isInstClient || isUpdate"
													ng-options="op.instClientID as op.instClientID+'_'+op.instClientID for op in instClientlists"
													class="form-control two-columns-modal-input" required  	ng-change="changeInstClient(ModalEntity.instClientID)" 
													tab="511" onkeydown="tradeKeyup(event,this)"></select> <span
													ng-show="myForm.instClientID.$dirty && myForm.instClientID.$invalid"
													style="color: red;">机构代码为必填项</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
		                           <div class="col-xs-6" >
										<div class="row form-group" >
											<label class="col-xs-6 control-label">成交编号<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text"
													ng-model="ModalEntity.originTradeID" ng-init="initId()"
													name="originTradeID" maxlength="64" required
													ng-readonly="isUpdate"/> <!-- <span
													ng-show="myForm.originTradeID.$dirty && myForm.originTradeID.$invalid"
													style="color: red;">成交编号为必填项，且需要与对应资金账号的成交编号保持一致，如：1234567890</span> -->
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">结算日期<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input  type="text"  class="form-control two-columns-modal-input"  onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyyMMdd'})" 
													 ng-disabled="true" placeholder="请选择结算日期"
													ng-model="ModalEntity.tradeDate" name="tradeDate"
													maxlength="8" required
													ng-change="changeDate(ModalEntity.tradeDate)" /> <span
													ng-show="myForm.tradeDate.$dirty && myForm.tradeDate.$invalid"
													style="color: red;">结算日期为必填项</span>
											</div>
										</div>
									</div>
									
								</div>

								<div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">成交日期</label>

											<div class="col-xs-6">
												<input  type="text"  class="form-control two-columns-modal-input"  onchange=""  onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyyMMdd'})" 
													ng-readonly="true" placeholder="请选择成交日期" 
													ng-model="ModalEntity.tradeingDate" name="tradeingDate"
													maxlength="8" required /> 
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">成交时间</label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="请输入成交时间"
													ng-pattern="/^(?:[01]\d|2[0-3])(?::[0-5]\d){2}$/" title="时间格式:hh:mm:ss"
													ng-model="ModalEntity.tradeingTime" name="tradeingTime"
													maxlength="8" required/>
													 <span ng-show="myForm.tradeingTime.$dirty && myForm.tradeingTime.$invalid"
													style="color: red;">成交时间为必填项，时间格式为：hh:mm:ss，列：13:56:58</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
                                    <div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">资产单元<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<select class=""
												    ng-disabled="isUpdate"
													ng-model="ModalEntity.investorId" name="investorId" tab="515"
													ng-change="changeInvestorId(ModalEntity.instClientID,ModalEntity.investorId)" 
													ng-options=" trader.traderID as trader.traderID +'_'+ trader.traderName for  trader in activeTraders"
													onkeydown="tradeKeyup(event,this)">
												</select>
											</div>
										</div>
									</div>

						           <div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">交易员<span
												style="color: red;">*</span></label>
											<div class="col-xs-6">
												<select ng-model="ModalEntity.userID" name="userID" required
													ng-options="op.userID as op.userID+'_'+op.userName for op in tradeUserLists"
													class="form-control two-columns-modal-input"></select> 
												<span ng-show="myForm.userID.$dirty && myForm.userID.$invalid"
													style="color: red;">交易员为必填项</span>
											</div>
										</div>
									</div>
									
									
								</div>
								<div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">资金账号</label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="请输入资金账号"
													ng-model="ModalEntity.innerAccountID" name="innerAccountID" ng-disabled="isUpdate"
													maxlength="18"/>
											</div>
										</div>
									</div>
								    <div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">交易所代码<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<select ng-model="ModalEntity.exchangeId" name="exchangeId"
													ng-options="op.exchID as op.exchID+'_'+op.exchName for op in exchangeDatas"
													class="" required 
													ng-disabled="isUpdate"
													ng-change="selectProduct(ModalEntity.exchangeId,ModalEntity.productType)"
													tab="512" onkeydown="tradeKeyup(event,this)"></select> <span
													ng-show="myForm.exchangeId.$dirty && myForm.exchangeId.$invalid"
													style="color: red;">交易所代码为必填项</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- <div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">交易类别</label>

											<div class="col-xs-6">
												<select class=""
													ng-model="ModalEntity.productType" name="productType"
													ng-options="op.key as op.text for op in productTypes"
													ng-disabled="isUpdate"
													ng-change="selectProduct(ModalEntity.exchangeId,ModalEntity.productType); "
													tab="514" onkeydown="tradeKeyup(event,this)">
												</select>
											</div>
										</div>
									</div> -->
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">投保标志<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<select ng-model="ModalEntity.hedgeFlag" name="hedgeFlag"
													ng-options="op.key as op.text for op in tradeTypes"
													class="" ></select> 
											</div>
										</div>
									</div>
									<div class="col-xs-6" ng-show="true">
										<div class="row form-group">
											<label class="col-xs-6 control-label">开平标志<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<select ng-model="ModalEntity.offsetFlag" name="offsetFlag"
													ng-options="op.key as op.text for op in offsetFlagss"
													tab="513" onkeydown="tradeKeyup(event,this)"
													class="" required></select> 
											<span ng-show="myForm.offsetFlag.$dirty && myForm.offsetFlag.$invalid"
													style="color: red;">开平标志为必填项</span>
											</div>
										</div>
									</div>
								</div>


                                <!-- <div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">策略代码</label>

											<div class="col-xs-6">
												<select class=""
													ng-model="ModalEntity.strategyID" name="strategyID"
													ng-options="op.strategyID as op.strategyID+'_'+op.strategyAbbrName for op in strategys"
													onkeydown="tradeKeyup(event,this)">
														<option value=""> </option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">策略批次</label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="请输入策略批次"
												    ng-model="ModalEntity.strategyBatch" name="strategyBatch" maxlength="20" 
													onkeydown="tradeKeyup(event,this)" /> 
											</div>
										</div>
									</div>
								</div> -->
								<div class="row">
									
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">品种代码<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<select class=""
													ng-model="ModalEntity.productID" name="productID" required
													ng-disabled="isUpdate"
													ng-options="op.productID as op.productID+'_'+op.productName for op in products"
													
													tab="516" onkeydown="tradeKeyup(event,this)">
												</select> <span
													ng-show="myForm.productID.$dirty && myForm.productID.$invalid"
													style="color: red;">品种代码为必填项</span>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">合约代码<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder=""
													ng-model="ModalEntity.instrumentId" name="instrumentId"
													maxlength="30" required tab="518"
													ng-disabled="isUpdate"
													onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.instrumentId.$dirty && myForm.instrumentId.$invalid"
													style="color: red;">合约代码为必填项</span>
											</div>
										</div>
									</div>
								<!-- 	<div class="col-xs-6"  ng-show="ModalEntity.isTrade == 0 " >
										<div class="row form-group">
											<label class="col-xs-6 control-label">交割期<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="请输入交割期"
													ng-model="ModalEntity.delivDate" name="delivDate"
													maxlength="30" required
													ng-disabled="isUpdate"
												
													tab="517" onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.delivDate.$dirty && myForm.delivDate.$invalid"
													style="color: red;">交割期为必填项</span>
											</div>
										</div>
									</div> -->
								<!-- 	<div class="col-xs-6" ng-show="ModalEntity.isTrade == 1 " >
										<div class="row form-group">
											<label class="col-xs-6 control-label label-style">报单类型 <span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
											   <select ng-model="ModalEntity.orderPriceType" name="orderPriceType"
													ng-options="op.key as op.text for op in orderPriceTypes"
													class="select-style"  required
													onkeydown="tradeKeyup(event,this)"></select> 
											</div>
										</div>
									</div> -->
		                        </div>
								<div class="row">
									
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">买卖方向<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<select ng-model="ModalEntity.direction" name="direction"
													ng-options="op.key as op.text for op in tradeDirections"
													class="" tab="519"
													ng-disabled="isUpdate"
													onkeydown="tradeKeyup(event,this)"></select> <span
													ng-show="myForm.direction.$dirty && myForm.direction.$invalid"
													style="color: red;">买卖方向为必填项</span>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">成交价格<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="请输入成交价格"
													ng-pattern="/^\d{1,13}(\.\d{0,8})?$/"
													ng-model="ModalEntity.tradePrice" name="tradePrice"
													maxlength="22" required tab="520"
													onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.tradePrice.$dirty && myForm.tradePrice.$invalid"
													style="color: red;">成交数量为必填项，且为浮点数字型，最多录入13位整数8位小数，例：1234567890123.6666666</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">成交数量<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="请输入成交数量"
													ng-pattern="/^[1-9][0-9]{0,7}$/" ng-model="ModalEntity.volume"
													name="volume" maxlength="8" required tab="521"
													onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.volume.$dirty && myForm.volume.$invalid"
													style="color: red;">成交数量为必填项，且为整数数字型，例：100</span>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="panel panel-default" ng-show="ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == 2 "  >
							<div class="panel-heading">
								<h3 class="panel-title">手续费信息</h3>
							</div>
							<div class="panel-body">
								<!-- <div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<div class="checkbox">
												<input type="checkbox" id="otFlag"
													ng-model="ModalEntity.otFlag" name="otFlag"
													ng-click="calcCharge(ModalEntity.otFlag)" ng-true-value="1"
													ng-false-value="0" tab="14" onkeydown="tradeKeyup(event,this)"><strong>手续费</strong>
											</div>
										</div>
									</div>
								</div> -->
								<div class="row">

									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">费率按金额<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="费率按金额"
													ng-pattern="/^[0-9]+(\.[0-9]{0,8})?$/"
													ng-model="ModalEntity.rateByAmount" name="rateByAmount"
													maxlength="22" ng-readonly="ischeck" required tab="522"
													onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.rateByAmount.$dirty && myForm.rateByAmount.$invalid"
													style="color: red;">费率按金额最多录入8位小数</span>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">费率按手数<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="费率按手数"
													ng-pattern="/^[0-9]+(\.[0-9]{0,3})?$/"
													ng-model="ModalEntity.rateByHand" name="rateByHand"
													maxlength="19" ng-readonly="ischeck" required tab="523"
													onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.rateByHand.$dirty && myForm.rateByHand.$invalid"
													style="color: red;">费率按手数最多录入3位小数</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">上交按金额<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="上交按金额"
													ng-pattern="/^[0-9]+(\.[0-9]{0,8})?$/"
													ng-model="ModalEntity.reachByAmount" name="reachByAmount"
													maxlength="22" ng-readonly="ischeck" required tab="524"
													onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.reachByAmount.$dirty && myForm.reachByAmount.$invalid"
													style="color: red;">上交按金额最多录入8位小数</span>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="row form-group">
											<label class="col-xs-6 control-label">上交按手数<span
												style="color: red;">*</span></label>

											<div class="col-xs-6">
												<input class="form-control two-columns-modal-input" type="text" placeholder="上交按手数"
													ng-pattern="/^[0-9]+(\.[0-9]{0,3})?$/"
													ng-model="ModalEntity.reachByHand" name="reachByHand"
													maxlength="19" ng-readonly="ischeck" required tab="525"
													onkeydown="tradeKeyup(event,this)" /> <span
													ng-show="myForm.reachByHand.$dirty && myForm.reachByHand.$invalid"
													style="color: red;">上交按手数最多录入3位小数</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<input type="hidden" ng-bind="ModalEntity.recordIndex">
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>
				<div class="modal-footer">
					<button class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title=""
						ng-click="(myForm.offsetFlag.$invalid)|| myForm.userID.$invalid || myForm.instClientID.$invalid || myForm.investorId.$invalid||myForm.tradeDate.$invalid||(myForm.originTradeID.$invalid && ModalEntity.isTrade == 0)|| myForm.tradePrice.$invalid || myForm.volume.$invalid || myForm.exchangeId.$invalid || myForm.productID.$invalid || myForm.direction.$invalid||(ModalEntity.otFlag==1 && myForm.reachByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.reachByAmount.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByAmount.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2') || myForm.tradeingTime.$invalid || checkSubAccountId(ModalEntity)" 
						onkeydown="tradeKeyup(event,this);checkSubAccountId(ModalEntity)"
						ng-disabled="(myForm.offsetFlag.$invalid)|| myForm.userID.$invalid || myForm.instClientID.$invalid || myForm.investorId.$invalid||myForm.tradeDate.$invalid ||(myForm.originTradeID.$invalid && ModalEntity.isTrade == 0)|| myForm.tradePrice.$invalid || myForm.volume.$invalid || myForm.exchangeId.$invalid || myForm.productID.$invalid || myForm.direction.$invalid||(ModalEntity.otFlag==1 && myForm.reachByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.reachByAmount.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByAmount.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2') || myForm.tradeingTime.$invalid">&nbsp;确定&nbsp;</button>
					<button class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" ng-show="!isUpdate"
						ng-click="(myForm.offsetFlag.$invalid)|| myForm.userID.$invalid || myForm.instClientID.$invalid || myForm.investorId.$invalid||myForm.tradeDate.$invalid||(myForm.originTradeID.$invalid&& ModalEntity.isTrade == 0) || myForm.tradePrice.$invalid || myForm.volume.$invalid || myForm.exchangeId.$invalid || myForm.productID.$invalid || myForm.direction.$invalid||(ModalEntity.otFlag==1 && myForm.reachByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.reachByAmount.$invalid && ModalEntity.isTrade == 0  && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByAmount.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2') || myForm.tradeingTime.$invalid||continueSaveTrade(ModalEntity)" tab="526"
						onkeydown="tradeKeyup(event,this);checkSubAccountId(ModalEntity)"
						ng-disabled="(myForm.offsetFlag.$invalid)|| myForm.userID.$invalid || myForm.instClientID.$invalid || myForm.investorId.$invalid||myForm.tradeDate.$invalid||(myForm.delivDate.$invalid  && ModalEntity.isTrade == 0)||(myForm.originTradeID.$invalid&& ModalEntity.isTrade == 0) || myForm.tradePrice.$invalid || myForm.volume.$invalid || myForm.exchangeId.$invalid || myForm.productID.$invalid || myForm.direction.$invalid||(ModalEntity.otFlag==1 && myForm.reachByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.reachByAmount.$invalid && ModalEntity.isTrade == 0  && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByAmount.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2')||(ModalEntity.otFlag==1 && myForm.rateByHand.$invalid && ModalEntity.isTrade == 0 && ModalEntity.tradeSrc == '2') || myForm.tradeingTime.$invalid">&nbsp;继续增加&nbsp;</button>
					<button class="btn btn-close btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="tradeInsertBulkModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-width">
			<div class="modal-content modal-width" style="width:1000px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">资产单元成交单批量维护</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="myBulkForm" novalidate ng-show="isMultiple">
						<div class="row-col-one" >
			            	<label class="word-style">资产单元<span style="color: red;">*</span></label>
			                <select ng-model="bulkModalEntity.subAccountID" name="subAccountID" class="value-style" 
			                	ng-change="changeBulkSub(bulkModalEntity.subAccountID)" required
								ng-options="op.subAccountID as op.instClientID+'_'+op.subAccountID+'_'+op.subAccountName for op in bulkSubAccountIDs">
							</select>
							<span ng-show="myBulkForm.subAccountID.$dirty && myBulkForm.subAccountID.$invalid" style="color: red;">资产单元为必填项</span>
			            </div>
			            <div class="row-col-one" >
			            	<label class="word-style">交易员</label>
			                <select ng-model="bulkModalEntity.userID" name="userID" class="value-style" required
								ng-options="op.userID as op.userID+'_'+op.userName for op in bulkTradeUserLists">
							</select>
							<span ng-show="myBulkForm.userID.$dirty && myBulkForm.userID.$invalid" style="color: red;">交易员为必填项</span>
			            </div>
		            </form>
		            
		            <div class="col-xs-12 clear-padding-right" ng-show="!isMultiple" style="margin-bottom:20px;">
				        <div class="row">
				            <div class="col-xs-12 clear-padding-right">
				                <div>
				                    <table id="tradeBulk_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
				                    </table>
				                </div>
				            </div>
				        </div>
				    </div>
				    
				    <div class="row-btn-icon" style="margin-left:13px;position:relative;left:0;" ng-show="!isMultiple">
		                <span class="btn-add-icon"></span>
						<button class="btn btn-add btn-icon-two" ng-click="addBulkTrade()">新增</button>
					</div>
				</div>
					<!-- form class="form-12" ng-show="!isUpload">
						<div class="form-row">
				        	<div class="row-col-one" >
				                <label class="word-style">机构代码</label>
				            	<select ng-model="addQueryEntity.instClientID" required 
									ng-disabled="isInstClient " class="value-style"
									ng-options="op.instClientID as op.instClientID+'_'+ op.instClientAbbrName for op in instClientlists">
									<option value="">全部</option>
								</select>
				            </div>
				            <div class="row-col-one" >
				                <label class="word-style">资金账号</label>
				                <input type="text" class="value-style"
									placeholder="请输入资金账号" ng-model="addQueryEntity.innerAccountID" name="innerAccountID"  >
				            </div>
						</div>
						<div class="btn-beyond-one-row" style="top:16px;right:0;">
				      		<button type="button" class="btn btn-query btn-word-two" ng-show="trade_addQuery" 
				      			ng-click="findBulkTrade()" ng-disabled="isAddQuery">查询</button>
				      	    <button type="button" class="btn btn-reset btn-word-two" ng-show="trade_export" ng-click="exportExcelBulkTrade()" >导出excel</button>
				      	    <a class="tradeTip" title="导出的结果中，资产单元必填且只能填该资金账号关联的资产单元；交易员选填 ；&#10;填写完毕后可通过导入功能导入此文件。"></a>
				    	</div>
					</form>

					<div class="col-xs-12 clear-padding-right">
				        <div class="row">
				            <div class="col-xs-12 clear-padding-right">
				                <div>
				                    <table id="tradeBulk_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
				                    </table>
				                </div>
				            </div>
				        </div>
				    </div> 
				</div> -->
				<div class="modal-footer">
					<button class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" ng-disabled="(isMultiple && (myBulkForm.subAccountID.$invalid || myBulkForm.userID.$invalid))"
						ng-click="saveTradeData()" >&nbsp;保存&nbsp;</button>
					
					<button class="btn btn-close btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="tradeUploadBulkModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-width">
			<div class="modal-content modal-width">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">资产单元成交单导入确认</h4>
				</div>
				<div class="modal-body">
				
					<div class="col-xs-12 clear-padding-right" style="margin-bottom:20px;">
				        <div class="row">
				            <div class="col-xs-12 clear-padding-right">
				                <div>
				                    <table id="tradeBulkUpload_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
				                    </table>
				                </div>
				            </div>
				        </div>
				    </div> 
				    
				</div>
				<div class="modal-footer">
					<button class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" ng-click="saveUploadData()" 
						onkeydown="tradeKeyup(event,this);saveUploadData()">&nbsp;保存&nbsp;</button>
					
					<button class="btn btn-close btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 导入 -->
    <div class="modal fade" id="tradeUploadModal" tabindex="-1" role="dialog"
    	aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog">
	        <div class="modal-content" style="height:100px;">
	            <div class="modal-header">
	                <button type="button" class="close"
	                        data-dismiss="modal" aria-hidden="true">
	                    &times;
	                </button>
	                <h4 class="modal-title" id="uploadtxt">
	                   	 资产单元成交单导入
	                </h4>
	            </div>
	            <div class="modal-body">
	                <!-- 添加表单内容-->
	                <form class="form-horizontal" role="form" name="uploadForm" novalidate>
	                    <div class="form-group upload_wedge">
	                        <div id="tradeFileuploader">upload</div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- /.modal -->
</div>
<!-- /.row -->

