<div class="row" ng-controller="ExchClientController">
	<!-- start 定义表单查询-->
	<form class="form-12">
		 <div class="form-row">
		 	         <div class="row-col-one" >
		                <label class="word-style">客户代码</label>
		                <input type="text" class="value-style"  id="clientID" ng-model="queryEntity.clientID" />
             		</div>
			</div>
			<div class="btn-beyond-one-row" ng-show="exchClient_query">
      	      		<button type="button" class="btn btn-query btn-word-two"  ng-click="find()"  ng-disabled="isQuery"> 查询</button>
    		</div>
    		<div class="row-form row-btn-operation" ng-show="exchClient_add">
		          	<div class="row-btn-icon">
		               <span class="btn-add-icon"></span>
		               <input type="button"   ng-click="initAddParam()"  class="btn btn-add btn-icon-two" value="新增" data-toggle='modal' >
		           </div>
		     </div>
	</form>
	<!--End 表单查询 -->

	<!--PAGE CONTENT START-->
	<div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div>
                    <table id="ExchClient_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--PAGE CONTENT END-->	

	<!-- 新增 修改 模态框（Modal） -->
	<div class="modal fade" id="exchClientModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 600px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">交易编码信息维护</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" name="myForm" novalidate>
						<div class="row">
							<div class="col-xs-6">
								<div class="row form-group">
									<label class="col-sm-4 control-label">资金账号<span
										style="color: red;">*</span></label>
									<div class="col-sm-6">
										<select ng-model="modalEntity.innerAccountID" ng-disabled="isUpdate" ng-change="changeExchangs(modalEntity.exchID,modalEntity.innerAccountID)"										
											name="innerAccountID" required class="form-control two-columns-modal-input">
											<option ng-repeat="account in accountDatas" value="{{account.innerAccountID}}">
											{{account.innerAccountID}}_{{account.accountName}}
											</option>					
											</select>
										<span
											ng-show="myForm.innerAccountID.$dirty && myForm.innerAccountID.$invalid"
											style="color: red;">资金账号为必填项</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="row form-group">
									<label class="col-sm-5 control-label">交易所代码<span
										style="color: red;">*</span></label>
									<div class="col-sm-6">
										<select ng-model="modalEntity.exchID" name="exchID"  ng-disabled="isUpdate" ng-change="changeExchangs(modalEntity.exchID,modalEntity.innerAccountID)"
											ng-options="op.exchID as op.exchID +'_'+ op.exchName for op in exchangeDatas"
											class="form-control two-columns-modal-input"required></select> <span
											ng-show="myForm.exchID.$dirty && myForm.exchID.$invalid"
											style="color: red;">交易所代码为必填项</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="row form-group">
									<label class="col-sm-4 control-label">客户代码<span
										style="color: red;">*</span></label>
									<div class="col-sm-6">
										<input class="form-control two-columns-modal-input" type="text" ng-disabled="isUpdate"
											ng-model="modalEntity.clientID" placeholder="请输入客户代码"
											name="clientID" maxlength="20" required /> <span
											ng-show="myForm.clientID.$dirty && myForm.clientID.$invalid"
											style="color: red;">客户代码为必填项</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="row form-group">
									<label class="col-sm-5 control-label">会员代码<span
										style="color: red;">*</span></label>
									<div class="col-sm-6">
										<select class="form-control two-columns-modal-input" ng-model="modalEntity.memberID" ng-disabled="isUpdate"
										
										ng-options="member.memberID as member.exchID +'_'+ member.memberID for member in memberDatas"
											name="memberID" required></select> <span
											ng-show="myForm.memberID.$dirty && myForm.memberID.$invalid"
											style="color: red;">会员代码为必填项</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="row form-group">
									<label class="col-sm-4 control-label">交易类型</label>
									<div class="col-sm-6">
										<select class="select-style" ng-model="modalEntity.tradeType"
											ng-options="op.key as op.text for op in tradeTypes"></select>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="row form-group">
									<label class="col-sm-5 control-label">交易权限<span
										style="color: red;">*</span></label>
									<div class="col-sm-6">
										<select class="form-control two-columns-modal-input" ng-model="modalEntity.tradeRight"
											ng-options="op.key as op.text for op in tradeRights" required></select>
										<span ng-show="myForm.tradeRight.$dirty && myForm.tradeRight.$invalid"
											style="color: red;">交易权限为必填项</span>
									</div>
								</div>
							</div>
						</div>
						<div>
							<input type="hidden" ng-bind="modalEntity.recordIndex">
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>
				<div class="modal-footer">
					<span class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" ng-click="myForm.innerAccountID.$invalid || myForm.exchID.$invalid || myForm.clientID.$invalid || myForm.memberID.$invalid || myForm.tradeRight.$invalid||save(modalEntity)"
						ng-disabled="myForm.innerAccountID.$invalid || myForm.exchID.$invalid || myForm.clientID.$invalid || myForm.memberID.$invalid || myForm.tradeRight.$invalid">&nbsp;确定&nbsp;</span>
					<span class="btn btn-close btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
</div>
<!-- /.row -->
