<link rel="stylesheet" href="account/subAccountGroup.css" />
<title>分组管理</title>
<div>
	<ol class="breadcrumb">
		<li><a>账户管理</a></li>
		<li class="active">分组管理</li>
	</ol>
</div>
<br>
<div class="row" ng-controller="SubAccountGroupController">
	<!-- start 定义表单查询-->
	<form class="form-horizontal">
		<div class="row">
			<div class=col-xs-12>
				<div class="alert alert-success" ng-show="resultInfo">分组信息保存成功!</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label class="col-sm-5 control-label">分组代码</label>
				<div class="col-sm-5">
					<input type="text" class="form-control"
						ng-model="queryEntity.subAccountGroupID" name="subAccountGroupID" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label class="col-sm-5 control-label">分组名称</label>

					<div class="col-sm-5">
						<input type="text" class="form-control"
							ng-model="queryEntity.subAccountGroupName"
							name="subAccountGroupName" />
					</div>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="form-group">
					<button class="btn btn-success" id="bootbox-options1"
						ng-click="find(queryEntity)" ng-disabled="isQuery">查询</button>
				</div>
			</div>
		</div>
	</form>
	<!--End 表单查询 -->

	<!--PAGE CONTENT -->
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="clearfix">
					<div class="pull-right tableTools-container"></div>
				</div>
				<div>
					<table id="dynamic-table"
						class="table table-striped table-bordered table-hover"
						datatable="ng">
						<thead>
							<tr>
								<th class="center"><label class="pos-rel"> <span
										class="ace" /> <span class="lbl"></span>
								序号</label></th>
								<th>分组号</th>
								<th>分组名称</th>
								<!--<th class="hidden-180">资金限额</th>-->
								<th>管理员</th>
								<th>操作日期</th>
								<th>操作时间</th>
								<th>操作</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="listEntity in listEntitys">
								<td class="center">{{($index+1)}}</td>
								<td ng-bind="listEntity.subAccountGroupID"></td>
								<td ng-bind="listEntity.subAccountGroupName"></td>
								<td ng-bind="listEntity.operatorID"></td>
								<td ng-bind="listEntity.operateDate"></td>
								<td ng-bind="listEntity.operateTime"></td>
								<div>
									<input type="hidden" ng-bind="listEntity.recordIndex">
								</div>
								<td>
									<div class="hidden-sm hidden-xs action-buttons">
										<a class="green" ng-click="initUpdateParam($index,listEntity)"
											data-toggle="modal" data-target="#myModal"><i
											class="ace-icon fa fa-pencil bigger-130"></i> </a> <a class="red"><i
											class="ace-icon fa fa-trash-o bigger-130"
											ng-click="remove($index,listEntity)"></i> </a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
		<button class="btn btn-success" id="bootbox-options"
			ng-click="initParameter()" data-toggle="modal" data-target="#myModal">新增
		</button>
		<!-- PAGE CONTENT ENDS -->
	</div>
	<!-- /.col -->

	<!-- 新增 修改 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">分组信息维护</h4>
				</div>
				<div class="modal-body">
					<!-- 添加表单内容-->
					<form class="form-horizontal" role="form" name="myForm" novalidate>
						<div class="form-group">

							<label for="innerAccountID" class="col-sm-3 control-label">代码分组<span
								style="color: red;">*</span></label>
							<div class="col-sm-5">
								<input type="text" class="form-control"
									ng-model="ModalEntity.subAccountGroupID" id="subAccountGroupID"
									name="subAccountGroupID" ng-readonly="isUpdate" maxlength="3" />
							</div>

						</div>
						<div class="form-group">
							<label for="traderID" class="col-sm-3 control-label">分组名称<span
								style="color: red;">*</span></label>
							<div class="col-sm-5">
								<input type="text" class="form-control"
									ng-model="ModalEntity.subAccountGroupName"
									id="subAccountGroupName" name="subAccountGroupName" required
									maxlength="20" />
							</div>
						</div>
						<div>
							<input type="hidden" ng-bind="ModalEntity.recordIndex">
						</div>
					</form>
					<!--End  添加表单内容-->
				</div>
				<div class="modal-footer">
					<span class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" ng-click="myForm.subAccountGroupID.$invalid || myForm.subAccountGroupName.$invalid||save(ModalEntity)"
						ng-disabled="myForm.subAccountGroupID.$invalid || myForm.subAccountGroupName.$invalid">&nbsp;提交&nbsp;</span>
					<span class="btn btn-info btn-sm popover-info" data-rel="popover"
						data-placement="bottom" title="" data-dismiss="modal">&nbsp;关闭&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
</div>