<link rel="stylesheet" href="account/traderReg.css" />
<title>资产单元开户</title>
<div>
	<ol class="breadcrumb">
		<li><a>资产单元管理</a></li>
		<li class="active">资产单元开户</li>
	</ol>
</div>
<div class="row" ng-controller="traderRegController">
	<br />
	<form class="form-horizontal" role="form" name="myForm" novalidate>
		<!-- 基本信息 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">基本信息</h3>
			</div>
			<div class="panel-body">
				<div class="row">
				<div class="col-xs-4">
						<div class="form-group">
							<label for="traderID" class="col-sm-3 control-label">资产单元<span
								style="color: red;">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="traderID"
									placeholder="请输入资产单元" ng-model="trader.traderID" required tab="1"
									name="traderID" maxlength="20" onkeydown="myKeyup(event,this)">
								<span
									ng-show="myForm.traderID.$dirty && myForm.traderID.$invalid"
									style="color: red;">资产单元为必填项</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label for="traderName" class="col-sm-3 control-label">资产单元名称<span
								style="color: red;">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="traderName"
									placeholder="请输入资产单元名称" ng-model="trader.traderName"
									name="traderName" maxlength="100" required
									onkeydown="myKeyup(event,this)" tab="2"> <span
									ng-show="myForm.traderName.$dirty && myForm.traderName.$invalid"
									style="color: red;">资产单元名称为必填项</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="telephone" class="col-sm-3 control-label">联系电话</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="telephone"
									placeholder="请输入联系电话" ng-model="traderInfo.telephone"
									name="telephone" maxlength="30" onkeydown="myKeyup(event,this)"
									tab="3">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="address" class="col-sm-3 control-label">备注</label>
							<div class="col-sm-8">
								<textarea class="form-control" id="address"
								style="width: 690px; height: 50px; resize: none;"
									placeholder="请输入备注" ng-model="traderInfo.address"
									name="address" maxlength="255" tab="4"
									onkeydown="myKeyup(event,this)">
								</textarea>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
				
			<!-- 登录信息 -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">登录信息</h3>
				</div>
				<div class="panel-body">
				<div class="row">
					<div class="col-xs-4" style="margin-left:48px;">
						<div class="form_group">
							<input type="checkbox" name="isCreateTraderLoginInfo"
								class="traderReg-checkboxstyle" ng-true-value="1" ng-false-value="0"
								ng-change="changeIsCreateTraderLoginInfoFlag(isCreateTraderLoginInfoFlag)"
								ng-model="isCreateTraderLoginInfoFlag" id="isCreateTraderLoginInfo" >
							<label for="isCreateTraderLoginInfo"
								class="col-xs-3 traderReg-label-style">同步生成登录交易员代码</label> 
							<input type="text" style="margin-left: 80px;margin-top: -20px;margin-bottom: 20px;" 
							ng-readonly="true" ng-model="trader.traderID">
						</div>
					</div>
					<div class="col-xs-4" style="margin-left:48px;">
						<div class="form_group">
							
							<label for="isCreateTraderLoginInfo"
								class="col-xs-3 traderReg-label-style">同步生成登录交易员名称</label> 
							<input type="text" style="margin-left: 80px;margin-top: -20px;margin-bottom: 20px;" 
							ng-readonly="true" ng-model="trader.traderName">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="password" class="col-sm-3 control-label">交易密码<span
								style="color: red;">*</span></label>
							<div class="col-sm-6">
								<input type="password" class="form-control" id="password"
									placeholder="请输入密码" ng-model="tradeUser.password"
									ng-readonly="traderPwdFlag"
									name="password" maxlength="20" onkeydown="myKeyup(event,this)"
									onkeyup="kEvent(event,this)" ng-change="isBlank(tradeUser.password,tmpTraderUser.pwdAg)"
									tab="5"><span
									ng-show="pwdBlank && (isCreateTraderLoginInfoFlag==1)"
									style="color: red;">密码为必填项</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="pwdAg" class="col-sm-3 control-label">密码确认<span
								style="color: red;">*</span></label>
							<div class="col-sm-6">
								<input type="password" class="form-control" id="pwdAg"
									placeholder="请确认密码" ng-model="tmpTraderUser.pwdAg" name="pwdAg"
									ng-readonly="traderPwdFlag"
									onkeyup="kEvent(event,this)" ng-change="isBlank(tradeUser.password,tmpTraderUser.pwdAg)"
									maxlength="20" onkeydown="myKeyup(event,this)" tab="6"><span
									ng-show="pwdBlank && (isCreateTraderLoginInfoFlag==1)"
									style="color: red;">密码为必填项</span>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- 资产单元信息 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">资产单元信息</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="subAccountID" class="col-sm-3 control-label">资产单元<span
								style="color: red;">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="subAccountID"
									ng-model="trader.traderID" name="subAccountID"
									maxlength="100" required onkeydown="myKeyup(event,this)" 
									tab="1" ng-readonly="true"> <span
									ng-show="myForm.subAccountID.$dirty && myForm.subAccountID.$invalid"
									style="color: red;">资产单元为必填项</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form_group">
							<label for="positionType" class="col-sm-3 control-label" style="padding-right: 20px;">持仓类型<span
								style="color: red;">*</span></label>
							<div class="col-sm-6" style="margin-left: -20px;margin-bottom: 17px;"> 
								<select class="traderReg-select-style"
								ng-model="subCapitalAccount.positionType"
								name="positionType" id="positionType" required
								ng-options="op.key as op.key+'_'+op.text for op in positionTypes">
								</select>
								<span ng-show="myForm.positionType.$dirty && myForm.positionType.$invalid"
								  style="color: red;">持仓类型为必填项</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4">
						<div class="form_group">
							<label for="currency" class="col-sm-3 control-label" style="padding-right: 20px;">基础币种<span
								style="color: red;">*</span></label>
							<div class="col-sm-6" style="margin-left: -20px;margin-bottom: 17px;"> 
								<select class="traderReg-select-style"
								ng-model="subCapitalAccount.currency"
								name="currency" id="currency" required
								ng-options="op.key as op.key+'_'+op.text for op in currencys">
								</select>
								<span ng-show="myForm.currency.$dirty && myForm.currency.$invalid"
								  style="color: red;">基础币种为必填项</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4">
						<div class="form_group">
							<input type="radio" name="radio_innerAccountID"
								class="traderReg-radio-style" ng-click="changeState()"
								ng-model="radio" id="radio_innerAccountID"
								ng-checked="true" value="1"><label for="innerAccountID"
								class="col-xs-3 label-style traderReg-label-style1">对应资金账号</label> <select
								class="traderReg-select-style"
								ng-model="tmpSubCapitalAccount.innerAccountID"
								name="innerAccountID" id="innerAccountID"
								ng-options="op.innerAccountID as op.innerAccountID+'_'+op.accountName for op in capitalAccountEntitys"
								ng-disabled="isSelected1">
							</select>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form_group">
							<input type="radio" name="radio_innerAccountID"
								class="traderReg-radio-style1" ng-click="changeState()"
								ng-model="radio" id="radio_innerAccountID" value="2"><label
								for="accountGroupID"
								class="col-xs-3 label-style traderReg-label-style2">对应资金账号组</label> <select
								class="traderReg-select-style"
								ng-model="tmpSubCapitalAccount.accountGroupID"
								name="accountGroupID" id="accountGroupID"
								ng-options="op.accountGroupID as op.accountGroupID+'_'+op.accountGroupName for op in accountGroupEntitys"
								ng-disabled="isSelected2">
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 风险信息 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">风险信息</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4">
						<div class="form_group">
							<label for="initFund" class="col-sm-3 control-label">初始资金</label>
							<div class="col-sm-6 ">
								<input type="text" placeholder="请输入初始资金" id="initFund" name="initFund"
									ng-model="subAccountRiskParam.initFund" maxlength="11"
									ng-pattern="/^[0-9]{1}\d*(\.\d{1,3})?$/"
									ng-change="toChinaNum(subAccountRiskParam.initFund,0)" 
									onkeydown="myKeyup(event,this)" tab="7" > 
									<label>（元）</label>											
							</div>
							<div class="col-xs-6" style="margin-left:65px">
								<span style="color:red;float:right;text-align: right" ng-bind="initFundText"></span><br/>
								<span ng-show="myForm.initFund.$dirty && myForm.initFund.$invalid" 
									  style="color:red;float:right;text-align: right">小数位最大只能输入3位</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form_group">
							<label for="maxCancelAmt" class="col-sm-3 control-label">最大撤单次数</label>
							<div class="col-sm-6 ">
								<input type="text" placeholder="请输入最大撤单次数" id="maxCancelAmt" name="maxCancelAmt"
									ng-model="subAccountRiskParam.maxCancelAmt" maxlength="11"
									ng-pattern="/^[0-9]{1}\d*?$/"
									onkeydown="myKeyup(event,this)" tab="12" > 
									<label>（次）</label>											
							</div>
							<div class="col-xs-6" style="margin-left:65px">
								<span ng-show="myForm.maxCancelAmt.$dirty && myForm.maxCancelAmt.$invalid" 
									  style="color:red;float:right;text-align: right">仅能输入整数</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4">
						<div class="form_group">
							<label for="callRisk" class="col-sm-3 control-label">追保风险度</label>
							<div class="col-sm-6 ">
								<input type="text" placeholder="请输入追保风险度" id="callRisk" name="callRisk"
									ng-model="subAccountRiskParam.callRisk" maxlength="11"
									ng-pattern="/^[0-9]{1}\d*(\.\d{1,3})?$/"
									ng-change="toChinaNum(subAccountRiskParam.callRisk,1)" 
									onkeydown="myKeyup(event,this)" tab="8" > 
									<label>（元）</label>											
							</div>
							<div class="col-xs-6" style="margin-left:65px">
								<span style="color:red;float:right;text-align: right" ng-bind="callRiskText"></span><br/>
								<span ng-show="myForm.callRisk.$dirty && myForm.callRisk.$invalid" 
									  style="color:red;float:right;text-align: right">小数位最大只能输入3位</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form_group">
							<label for="forceRisk" class="col-sm-3 control-label">强平风险度</label>
							<div class="col-sm-6 ">
								<input type="text" placeholder="请输入强平风险度" id="forceRisk" name="forceRisk"
									ng-model="subAccountRiskParam.forceRisk" maxlength="11"
									ng-pattern="/^[0-9]{1}\d*(\.\d{1,3})?$/"
									ng-change="toChinaNum(subAccountRiskParam.forceRisk,2)" 
									onkeydown="myKeyup(event,this)" tab="9" > 
									<label>（元）</label>											
							</div>
							<div class="col-xs-6" style="margin-left:65px">
								<span style="color:red;float:right;text-align: right" ng-bind="forceRiskText"></span><br/>
								<span ng-show="myForm.forceRisk.$dirty && myForm.forceRisk.$invalid" 
									  style="color:red;float:right;text-align: right">小数位最大只能输入3位</span>
							</div>
						</div>
					</div>
				</div>
				
				<!-- <div class="row">
					<div class="col-xs-4">
						<div class="form_group">
							<label for="maxMargin" class="col-sm-3 control-label">最大持仓保证金</label>
							<div class="col-sm-6 ">
								<input type="text" placeholder="请输入最大持仓保证金" id="maxMargin" name="maxMargin"
									ng-model="subAccountRiskParam.maxMargin" maxlength="11"
									ng-pattern="/^[0-9]{1}\d*(\.\d{1,3})?$/"
									ng-change="toChinaNum(subAccountRiskParam.maxMargin,3)" 
									onkeydown="myKeyup(event,this)" tab="10" > 
									<label>（元）</label>											
							</div>
							<div class="col-xs-6" style="margin-left:65px">
								<span style="color:red;float:right;text-align: right" ng-bind="maxMarginText"></span>
								<br/>
								<span ng-show="myForm.maxMargin.$dirty && myForm.maxMargin.$invalid" 
									  style="color:red;float:right;text-align: right">小数位最大只能输入3位</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4">
						<div class="form_group">
							<label for="maxPosiAmt" class="col-sm-3 control-label">最大持仓上限</label>
							<div class="col-sm-6 ">
								<input type="text" placeholder="请输入最大持仓上限" id="maxPosiAmt" name="maxPosiAmt"
									ng-model="subAccountRiskParam.maxPosiAmt" maxlength="11"
									ng-pattern="/^[0-9]{1}\d*?$/"
									onkeydown="myKeyup(event,this)" tab="11" > 
									<label>（手）</label>											
							</div>
							<div class="col-xs-6" style="margin-left:65px">
								<span ng-show="myForm.maxPosiAmt.$dirty && myForm.maxPosiAmt.$invalid" 
									  style="color:red;float:right;text-align: right">仅能输入整数</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form_group">
							<label for="maxCancelAmt" class="col-sm-3 control-label">最大撤单次数</label>
							<div class="col-sm-6 ">
								<input type="text" placeholder="请输入最大撤单次数" id="maxCancelAmt" name="maxCancelAmt"
									ng-model="subAccountRiskParam.maxCancelAmt" maxlength="11"
									ng-pattern="/^[0-9]{1}\d*?$/"
									onkeydown="myKeyup(event,this)" tab="12" > 
									<label>（次）</label>											
							</div>
							<div class="col-xs-6" style="margin-left:65px">
								<span ng-show="myForm.maxCancelAmt.$dirty && myForm.maxCancelAmt.$invalid" 
									  style="color:red;float:right;text-align: right">仅能输入整数</span>
							</div>
						</div>
					</div>
				</div> -->
				
			</div>
		</div>
		
		<!-- 费率设置 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">费率设置</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4">
						<div class="form_group">
							<input type="checkbox" name="marginTemplate"
								class="traderReg-checkboxstyle" ng-click="isMargin(x)"
								ng-model="x" id="marginTemplate" ><label for="marginTemplate"
								class="col-xs-3 label-style traderReg-label-style3">对应保证金率模板</label> 
								<select	class="traderReg-select-style1"
								ng-model="subAccountTemplate.marginTemplateID"
								name="marginTemplate" id="marginTemplate"
								ng-options="op.templateID as op.templateID+'_'+op.templateName for op in marginTemplateEntitys"
								ng-disabled="isSelected3">
							</select>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form_group">
							<input type="checkbox" name="feeTemplate"
								class="traderReg-checkboxstyle" ng-click="isFee(y)"
								ng-model="y" id="feeTemplate" ><label for="feeTemplate"
								class="col-xs-3 label-style traderReg-label-style3">对应手续费率模板</label> 
								<select class="traderReg-select-style1"
								ng-model="subAccountTemplate.feeTemplateID"
								name="feeTemplateID" id="feeTemplateID"
								ng-options="op.templateID as op.templateID+'_'+op.templateName for op in feeTemplateEntitys"
								ng-disabled="isSelected4">
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 完成  -->
		<div class="modal-footer center">
			<a class="btn btn-success" data-rel="popover"
				data-placement="bottom" title=""
				ng-click="finish(trader,traderInfo,tradeUser,subCapitalAccount,subAccountRiskParam)"
				ng-disabled="myForm.traderName.$invalid ||(pwdBlank && (isCreateTraderLoginInfoFlag==1)) ||
						myForm.traderID.$invalid || myForm.positionType.$invalid ||myForm.initFund.$invalid ||
						myForm.callRisk.$invalid || myForm.forceRisk.$invalid || myForm.maxMargin.$invalid ||
						myForm.maxPosiAmt.$invalid || myForm.maxCancelAmt.$invalid||myForm.currency.$invalid">&nbsp;完成&nbsp;</a>
		</div>
	</form>

</div>