<link rel="stylesheet" href="query/operAssetSummaryMOM.css"/>
<title>实时资产汇总</title>
<div>
    <ol class="breadcrumb">
        <li><a>交易数据查询</a></li>
        <li class="active">实时资产汇总</li>
    </ol>
</div>
<br>
<div class="row" ng-controller="OperAssetSummaryMOMController">
    <!-- start 定义表单查询-->
    <form class="form-horizontal">
        <div class="row header-information">
        	<div class="col-xs-12">
	            <div class="col-xs-3">
	                <div class="form-group">
	                    <label class="col-sm-5 capitalAccount-control-label">实时轮询</label>
	                    <div class="col-sm-5">
	                        <input type="text" style="width:50px; text-align:center"
	                        	ng-model="queryEntity.sleepTime" id="sleepTime" ng-readonly="isStart"/>
	                    </div>
	                    <label class="col-sm-5 control-label" style="width:10px;">秒</label>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="form-group">
	                    <button class="btn btn-success" id="bootbox-options1" ng-click="find(queryEntity)" ng-disabled="isStart">执行轮询</button>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="form-group">
	                    <button class="btn btn-success" id="bootbox-options1" ng-click="stop()" ng-disabled="isStop">停止轮询</button>
	                </div>
	            </div>
	             <div class="col-xs-3">
	                <div class="form-group">
	                    <button class="btn btn-success" id="bootbox-options1" ng-click="exportExcel()">导出excel</button>
	                </div>
	            </div>
	        </div>
	   	</div>
    </form>
    <!--End 表单查询 -->

    <!--PAGE CONTENT -->
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover no-border-table">
                        <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <span class="ace"/>
                                    <span class="lbl"></span>
                               序号 </label>
                            </th>
                            <th class="hidden-180">所属机构</th>
                            <th class="hidden-180">账号</th>
                            <th class="hidden-180">持仓品种</th>
                            <th class="hidden-180">方向</th>
                            <th class="hidden-180">持仓量</th>
                            <th class="hidden-180">结算权益</th>
                            <th class="hidden-180">结算价</th>
                            <th class="hidden-180">市价</th>
                            <th class="hidden-180">持仓浮动损益</th>
                            <th class="hidden-180">持仓保证金</th>
                            <th class="hidden-180">即时权益</th>
                            <th class="hidden-180">平仓盈亏</th>
                            <th class="hidden-180">浮盈</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="listEntity in listEntitys">
                            <td class="center" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}">
                                {{($index+1)}}
                            </td>
                            <td class="xiahuaxian" style="vertical-align: middle;"  rowspan="{{listEntity.spanNum}}"
                            	    ng-show="listEntity.flag == true">{{transInstClient(listEntity.instClientID)}}</td>
                            <td class="xiahuaxian" style="vertical-align: middle;"  ng-bind="listEntity.subAccountName" rowspan="{{listEntity.spanNum}}"
                            	    ng-show="listEntity.flag == true"></td>
                            <td ng-bind="listEntity.instrumentID" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}"></td>
                            <td ng-bind="listEntity.direction" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}"></td>
                            <td ng-bind="listEntity.position" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}"></td>
                            <td class="xiahuaxian" style="vertical-align: middle;" ng-bind="listEntity.preBalance" rowspan="{{listEntity.spanNum}}"
                            	    ng-show="listEntity.flag == true"></td>
                            <td ng-bind="listEntity.preSettlementPrice" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}"></td>
                            <td ng-bind="listEntity.lastPrice" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}"></td>
                            <td ng-bind="listEntity.positionProfit" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}"></td>
                            <td ng-bind="listEntity.usedMargin" ng-class="{xiahuaxian:listEntity.flagBot == $index+1}"></td>
                            <td class="xiahuaxian" style="vertical-align: middle;" ng-bind="listEntity.dynamicRights" rowspan="{{listEntity.spanNum}}"
                            	ng-show="listEntity.flag == true"></td>
                         	<td class="xiahuaxian" style="vertical-align: middle;" ng-bind="listEntity.closeProfit" rowspan="{{listEntity.spanNum}}"
                         	    ng-show="listEntity.flag == true"></td>
                         	<td class="xiahuaxian" style="vertical-align: middle;" ng-bind="listEntity.sumPositionProfit" rowspan="{{listEntity.spanNum}}"
                         	    ng-show="listEntity.flag == true"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <label class="col-sm-5 control-label" style="font-size: larger !important;">{{status}}</label>

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>