<link rel="stylesheet" href="foffund/fofinstclient.css"/>
<div class="row" ng-controller="fofInstClientController">
    <!-- start 定义表单查询-->
    <form class="form-12">
        <div class="form-row" >
        	<div class="row-col-one">
	            <label class="word-style">子产品机构代码</label>
	               <select class="value-style" ng-model="queryEntity.fofInstClientID"
	               	ng-options = "op.fofInstClientID as op.fofInstClientID+'_'+op.fofInstClientName for op in queryInstClients">
	                   <option value="">全部</option>
	               </select>
            </div>
            
           	<div class="row-col-one">
            	<label class="word-stylel">子产品机构名称</label>
                <input type="text" class="value-style" ng-model="queryEntity.fofInstClientName"/>
            </div>

        </div>
        
        <div class="btn-beyond-one-row">
   			<button type="button" class="btn btn-query btn-word-two"  ng-click="find(queryEntity)" ng-disabled="isQuery"> 查询</button>
		</div>
		
		<div class="row-form row-btn-operation">
			<div class="row-btn-icon">
	   			<span class="btn-add-icon"></span>
				<input type="button" class="btn btn-add btn-icon-two" value="新增" 
					ng-click="initParameter()" data-toggle="modal" data-target="#fofInstClientModal">
			</div>
        </div>
    </form>
    <!--End 表单查询 -->

    <!--PAGE CONTENT -->
    
    <div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div>
                    <table id="fofInstClient_dynamic_table" class="cell-border stripe" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
             <div class="col-xs-12">
                 <button class="btn btn-success" id="bootbox-options" ng-click="initParameter()" data-toggle="modal"
                     data-target="#fofInstClientModal">新增
        		 </button>
             </div>
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div>
              
                    <table id="fofInstClient_dynamic-table" class="table table-striped table-bordered table-hover" datatable="ng">
                        <thead>
                        <tr >
                            <th class="center">
                                <label class="pos-rel">
                                    <span class="ace"/>
                                    <span class="lbl"></span>
                                                                                     序号</label>
                            </th>
                            <th>子产品机构代码</th>
                            <th>子产品机构名称</th>
                            <th class="hidden-480">操作员</th>
                            <th class="hidden-480">操作日期</th>
                            <th class="hidden-480">操作时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="listEntity in listEntitys">
                            <td class="center">
                                {{($index+1)}}
                            </td>
                            <td ng-bind="listEntity.fofInstClientID"></td>
                            <td ng-bind="listEntity.fofInstClientName"></td>
                            <td ng-bind="listEntity.operatorID"></td>
                            <td ng-bind="listEntity.operateDate"></td>
                            <td ng-bind="listEntity.operateTime"></td>
                            <div><input type="hidden" ng-bind="listEntity.recordIndex"></div>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="blue" ng-click="initUpdateParam($index,listEntity)" data-toggle="modal"
                                       data-target="#fofInstClientModal" style="cursor:pointer">[修改]</a>
                                    <a class="blue" style="cursor:pointer" ng-click="remove($index,listEntity)">[删除]</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        PAGE CONTENT ENDS
    </div> -->
    <!-- /.col -->

    <!-- 新增 修改 模态框（Modal） -->
    <div class="modal fade" id="fofInstClientModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      子产品机构信息维护
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- 添加表单内容-->
                    <form class="form-horizontal" role="form" name="myForm" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">子产品机构代码<span style="color: red;">*</span></label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" placeholder="请输入子产品机构代码"
                                       ng-model="ModalEntity.fofInstClientID" name="fofInstClientID" id="fofInstClientID"
                                       maxlength="100" required ng-readonly="isUpdate"/>
											<span ng-show="myForm.fofInstClientID.$dirty && myForm.fofInstClientID.$invalid"
                                                  style="color: red;">子产品机构代码为必填项</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">子产品机构名称<span style="color: red;">*</span></label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control"  placeholder="请输入子产品机构名称"  id="fofInstClientName"
                                       name="fofInstClientName" ng-model="ModalEntity.fofInstClientName" required maxlength="100">
                                <span ng-show="myForm.fofInstClientName.$dirty && myForm.fofInstClientName.$invalid" 
                                	style="color: red;">子产品机构名称为必填项</span>
                            </div>
                        </div>
                        <div><input type="hidden" ng-bind="ModalEntity.recordIndex"></div>
                    </form>
                    <!--End  添加表单内容-->
                </div>
                <div class="modal-footer">
                    <span class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title=""
                          ng-click="save(ModalEntity)"
                          ng-disabled="myForm.fofInstClientName.$invalid || myForm.fofInstClientID.$invalid">&nbsp;确定&nbsp;</span>
                    <span class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title=""
                          data-dismiss="modal">&nbsp;取消&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->

</div>